input[type=search]
{
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    border: 1px solid #D3D3D3 !important;
    padding: 6px;
    margin-bottom: 15px;
}
.projectid
{
    width: 100% !important;
}
.projectid
{
    border-bottom: 1px solid #D3D3D3;
}
.projectid td:last-child
{
    border-right:1px solid #D3D3D3 !important;
}
.projectid input[type=search]:focus
{
    outline: none;
}

#projectid_length, #DataTables_Table_0_length,#DataTables_Table_1_length,#DataTables_Table_2_length {
    display: none;
}

#DataTables_Table_3_length,#DataTables_Table_4_length,#DataTables_Table_5_length {
    display: none;
}
#projectid_paginate,#DataTables_Table_0_paginate,#DataTables_Table_1_paginate,#DataTables_Table_2_paginate{
display:none;
}

#DataTables_Table_3_paginate,#DataTables_Table_4_paginate,#DataTables_Table_5_paginate{
display:none;
}


.projectid .dataTables_filter {
    float: left !important;
 }

  #projectidsearchBtn
 {
     color:rgb(49, 43, 43);
     border:1px solid #D3D3D3;
     border-radius: 0px 5px 5px 0px;
     float: right;
 }
 tbody {
    font-size: 12px;
}
 body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: white;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
   padding: 10px 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: green;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}