<!-- <h4>usefullinks</h4> -->
<script type="text/javascript" src="components/usefullinks/js/usefullinks.js"></script>

<div class="card-detail">
  
  <span class="card-detail-title modal-not-include"><b>Useful Links</b></span>
  
  <hr />
  <div class="table-responsive">  
      <div id="usefullinksList">

      </div>
  </div>
</div>


</div>
<div id="usefullinksPopupModelBox"></div>


<script type="text/javascript">
$(document).ready(function () {
    //$('#table_usefullinks').DataTable();
    usefullinksdataList();
  });



</script>