#displayGanttChart {
    height: 400px!important;
}
#Timesheet_imagemodal {
    width:50%;
    margin: auto;
}
#Timesheet_imagemodal .modal-body {
    text-align: center;
}
#Timesheet_imagemodal .imagepreview {
    max-width: 50%;
    margin: auto;
}
#create_project .steps-model .sw-toolbar-bottom .btn-group {
    float: none;
}
#project_smartwizard .btn-toolbar.sw-toolbar.sw-toolbar-bottom.justify-content-end {
    float:right;
}
button.btn.btn-success.finishButton {
    margin-right: 15px;
}
.required_field {
    border-color: #dd1313; 
    border-width: 1px; 
    border-style: solid
}

.hidden-btn {
    display: none;
}

.dlerror_messgae {
    color: #dd1313;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
     padding: 10px 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: green;
  }

  /* Style the tab content */
#closedProjectAuditReport-tabConent .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


@media (min-width: 768px) {
    #ProjectModal .input-group select {
        border-radius: 4px;
    }
    #ProjectModal .input-group select+.input-group-btn>.btn {
        padding: 3px 7px;
        margin-left: 10px;
        border-radius: 4px;
    }
}



input[type=checkbox] {
    margin-right: 20px;
    margin-top: 7px;
}

#project-modalToggle {
    background-color: #337ab7;
    float: right;
}

.tab-pane {
    margin-top: 50px;
}

.modal-content {
    width: 100%;
    height: 600px;
}


/*25-Feb-2019*/

#project-modal .modal-header h2 {
    display: inline-block;
}

#project-modal .modal-header .close {
    margin-top: 10px;
}

#project-modal .form-group label {
    width: 47% !important;
}

#project-modal .form-group.radio-sec {
    margin-bottom: 5px;
}

#project-modal .form-group.radio-sec>label {
    width: auto !important;
    margin-right: 15px;
}

#project-modal .form-group.radio-sec>label label {
    width: auto !important;
    margin-right: 0px;
    margin-left: 5px;
    font-weight: normal;
}

#project-modal .form-text {
    width: 60% !important;
    max-width: 52%;
}

#project-modal .nav-tabs>li>a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 0;
    padding: 20px;
    color: #333;
    transition: all 0.3s linear;
    cursor: pointer;
}

#project-modal .nav-tabs>li.active>a,
#project-modal .nav-tabs>li.active>a:focus,
#project-modal .nav-tabs>li.active>a:hover,
#project-modal .nav-tabs>li>a:hover {
    color: #fff;
    cursor: default;
    background-color: #bb2d2d;
    border: 1px solid #ddd;
    border-bottom-color: #d23c3c00;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.mr-btm-none {
    margin-bottom: 0;
}

.modal-content {
    width: 100%;
    height: auto;
    padding: 0;
}

.modal-body {
    padding: 30px 40px;
}

.modal-header {
    border: none;
    background: #fff;
}

.modal-header h2 {
    color: #fff;
    font-weight: 700;
    padding: 10px 40px;
}

.bottom-btn .btn-primary,
.bottom-btn .btn-success {
    background: #3BB273;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 0;
    padding: 16px;
    border-color: #3BB273;
    font-weight: 600;
}

.bottom-btn .btn-primary:hover,
.bottom-btn .btn-success:hover {
    background: #31925F
}

.bottom-btn .btn.btn-secondary {
    padding: 16px;
    line-height: 0;
    background: #bb2d2d;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.bottom-btn .btn.btn-secondary:hover {
    background: #9A2525;
}


/*31-aug-2019*/

.mrg-right {
    margin-right: 5px;
}

.add-btn {
    font-size: 12px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}


/* Project Member */

.btn-right {
    margin-right: 10px;
    margin-top: 13px;
}

.project-member h4 {
    color: #46AD46;
}

.project-member p {
    font-size: 14px;
}

.project-member img {
    width: 60px;
}

#step-5 .checkbox {
    margin-top: 40px;
}

#step-5 input[type=checkbox] {
    margin-top: 4px;
}


/* Project Documents */

.project-documents .ico-word {
    color: #337ab7;
}

.project-documents .ico-excel {
    color: #1D7044;
}

.project-documents i {
    margin-right: 5px;
}

.project-documents tbody {
    font-size: 13px;
}

#step-6 input[type=checkbox] {
    margin-top: 4px;
}

#step-6 #upload-documents .checkbox {
    margin-top: 30px;
}

#step-6 .dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4rem;
    background: #F3F4F5;
    color: #646C7F;
    text-rendering: optimizeLegibility;
    margin-bottom: 10px;
}

#step-6 .dropzone .dz-message {
    font-weight: 400;
}

#step-6 .dropzone .dz-preview.dz-image-preview {
    background-color: transparent;
}

#step-6 .dropzone .dz-preview .dz-error-message {
    color: white;
}

#step-6 .dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}

@media screen and (max-width: 992px) {
    #step-6 #upload-documents .checkbox {
        margin-top: 0px;
    }
}


/*Timesheet*/

#step-7 input[type=checkbox] {
    margin-top: 4px;
}


/* Project modules */

#step-4 input[type=checkbox] {
    margin-top: 4px;
}

#step-4 #new-project-module .checkbox {
    margin-top: 30px;
}

#step-4 .panel-default .panel-heading {
    background-color: #fff !important;
}

@media screen and (max-width: 992px) {
    #step-4 #new-project-module .checkbox {
        margin-top: 0px;
    }
}

#step-4 .project-module-title {
    color: #46AD46;
    font-size: 16px;
}

#step-4 textarea {
    width: 100%;
}

#step-4 .form-section,
#step-8 .form-section,
#step-6 .form-section {
    border-bottom: 0px !important;
    margin-bottom: 0px;
}


/* Project Contacts */

#step-2 input[type=checkbox] {
    margin-top: 4px;
}


/* Project Phases */

#step-3 .checkbox {
    margin-top: 30px;
}

#step-3 input[type=checkbox] {
    margin-top: 4px;
}

#step-4 textarea {
    width: 100%;
}

#step-4 .form-section {
    border-bottom: 0px !important;
}


/* Sub Project */

#step-8 .form-section {
    border-bottom: 0px !important;
}


/* Client Page */

#step-1 input[type=checkbox] {
    margin-top: 4px;
}

/* Timesheet Page */

#step-7 .TimesheetSubTitle{
    margin:7px auto;
    font-size: 14pt !important; 
}

#step-6 #displayProjectDocuments .actionButtons button {
    margin:0px 3px;
}

#open_projectMember .modal-body
{
    width: 100%;
    height: 530px;
}

#open_projectMember .tab-content
{
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    height:400px;
}
#open_projectMember button
{
    margin-top:15px;
}
#open_projectMember #personal_info
{
   text-align: center;
}
#open_projectMember #Contact_info table td
{
    border: none;
    text-align: left;
}
#open_projectMember .modal-body img
{
    height: 170px;
}
#open_projectMember .modal-header h3
{
    margin-left: 50px;
}
#open_projectMember .projectScrollBox
{
    height: 100px;
}
#ProjectCardDetails a
{
    cursor:pointer;
}

/* WO to project*/

#open_addDlProjectIndustryModel .modal-content, #open_addDlProjectDomainModel .modal-content {
    width: 50%;
    box-shadow: 5px 5px 5px 5px #888888;
}

#open_addDlProjectIndustryModel .modal-header, #open_addDlProjectDomainModel .modal-header {
    background: #8c8586 !important;
    color: #fff !important;
}