<!-- <h4>huddle</h4> -->
<script type="text/javascript" src="components/huddle/js/huddle.js"></script>
<link href="components/huddle/css/style.css" rel="stylesheet" />
<div class="card-detail">
   <!-- Change the chart title here -->
   <span class="card-detail-title"><b>Huddle Meet</b> </span>
   <hr />
   <!-- change the chart card id here -->
   <div class="huddle-width">
      <div class="hurdlebox">
         <img src='components/huddle/images/hurdle.png'  />
         <div class="notification">1</div>
         <p>Hurdle</p>
      </div>
      <div class="hurdlebox">
         <img src='components/huddle/images/bench.png'  />
         <div class="notification">22</div>
         <p>Bench</p>
      </div>
      <div class="hurdlebox">
         <img src='components/huddle/images/deviation.png'  />
         <div class="notification">30</div>
         <p>Deviation</p>
      </div>
      <div class="hurdlebox">
         <img src='components/huddle/images/open.png'  />
         <div class="notification">1</div>
         <p>Open Actions
            Items
         </p>
      </div>
      <div class="hurdlebox">
         <img src='components/huddle/images/resources.png'  />
         <div class="notification">50</div>
         <p>Resources In
            Productions
         </p>
      </div>
      <div class="hurdlebox">
         <img src='components/huddle/images/reminder.png'  />
         <div class="notification">10</div>
         <p>Reminder</p>
      </div>
      <div class="hurdlebox">
         <img src='components/huddle/images/deviation.png'  />
         <div class="notification">121</div>
         <p>Deviation</p>
      </div>
      <div class="hurdlebox">
         <img src='components/huddle/images/open.png'  />
         <div class="notification">10</div>
         <p>Open Actions
            Items
         </p>
      </div>
   <div class="hurdlebox">
      <img src='components/huddle/images/reminder.png'  />
      <div class="notification">25</div>
      <p>Reminder</p>
   </div>
   <div class="hurdlebox">
      <img src='components/huddle/images/hurdle.png'  />
      <div class="notification">32</div>
      <p>Hurdle</p>
   </div>
   <div class="hurdlebox">
      <img src='components/huddle/images/resources.png'  />
      <div class="notification">1</div>
      <p>Resources In
         Productions
      </p>
   </div>
   <div class="hurdlebox">
      <img src='components/huddle/images/bench.png'  />
      <div class="notification">11</div>
      <p>Bench</p>
   </div>
</div>
</div>
</div>
<script type="text/javascript">
   // $(document).ready(function () {
   //     //$('#table_huddle').DataTable();
   //     huddledataList();
   //   });
   
   
   
</script>