.custom-datepicker,
.custom-timepicker {
	padding: inherit;
}
#notes_datatable{
	width: 100% !important;
	border-bottom: 1px solid #D3D3D3;
}

#notes_datatable td,#notes_datatable tr
{
border-bottom: none !important;
border-right: none !important;
padding: 8px;
}

#notes_datatable td:last-child
{
border-right:1px solid #D3D3D3 !important;
} 

#notes_table .dataTables_filter {
	float: left !important;
	}

.notesSearchBtn
{
color:rgb(49, 43, 43);
border:1px solid #D3D3D3;
border-radius: 5px;
float: right;
height: 25px;
}

