<div class="modal fade" id="RRMEntryPointModelBDEHead" tabindex="-1" role="dialog">
    <div class="modal-dialog modealExpand">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button class="expand modalExpanding"><i class="fas fa-expand" data-toggle="modal"></i></button>
                <h2 class="modal-title" id="rrmModaltitle"><span id="rrmmodelpagetitleBDEHead"></span> &nbsp; <span><label id="BDEHeadrrmType">&nbsp; </label></span>&nbsp;<span><label id="OwnerrrmHoldStatusBDEHead">&nbsp; </label></span></h2>
            </div>

            <div class="modal-body" data-simplebar>
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="rrmtabBDEHead">
                        <li role="presentation" class="active  disabled" id="rrm_requirementTabBDEHead" data-tab="rrm_RequirementDetailsBDEHead">
                            <a href="#rrm_RequirementDetailsBDEHead" aria-controls="rrm_RequirementDetailsBDEHead" role="tab">Requirement Details</a>
                        </li>
                        <li role="presentation" class="disabled" id="rrm_skillsTabBDEHead">
                            <a href="#rrm_SkillDetailsBDEHead" aria-controls="rrm_SkillDetailsBDEHead" role="tab">Skills Mapping</a>
                        </li>
                        <li role="presentation" class="disabled" id="rrm_skillsplanaTabBDEHead">
                            <a href="#rrm_SkillsPlanADetailsBDEHead" aria-controls="rrm_SkillsPlanADetailsBDEHead" role="tab">Plan A</a>
                        </li>
                        <li role="presentation" class="disabled" id="rrm_skillsplanbTabBDEHead">
                            <a href="#rrm_SkillsPlanBDetailsBDEHead" aria-controls="rrm_SkillsPlanBDetailsBDEHead" role="tab">Plan B</a>
                        </li>
                        <li role="presentation" class="disabled" id="rrm_commentsBDEHeadTabBDEHead">
                            <a href="#rrm_CommentsDetailsBDEHead" aria-controls="rrm_CommentsDetailsBDEHead" role="tab">Comments</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" id="rrmDetailsBDEHead">
                        <div role="tabpanel" class="tab-pane active" id="rrm_RequirementDetailsBDEHead">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Requirement Name <span style="color: red">*</span></label>
                                        <div id="sdtxt_rrmbdehead_requirementname"></div>
                                        <span class="error_message" id="rrm_requirementnameBDEHeadError"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Required For <span style="color: red">*</span></label>
                                        <div id="sdtxt_rrmbdehead_requiredfor"></div>
                                        <span class="error_message" id="rrm_requiredforBDEHeadError"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="divBDEHeadRFP">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>RFP ID</label>
                                            <input type="text" class="form-control" name="rrm_rfpidBDEHead" id="rrm_rfpidBDEHead" placeholder="RFP ID" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>BDEHead</label>
                                            <select class="form-control" name="rrm_entrybdeBDEHead" id="rrm_entrybdeBDEHead" placeholder="BDEHead"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divBDEHeadresignation">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>EMP ID</label>
                                            <input type="text" class="form-control" name="rrm_empidBDEHead" id="rrm_empidBDEHead" placeholder="EMP ID" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Replacement For</label>
                                            <select class="form-control" name="rrm_replacementBDEHead" id="rrm_replacementBDEHead"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Number of positions <span style="color: red">*</span></label>
                                        <div id="sdnmb_rrmbdehead_numberofpositions"></div>
                                        <span class="error_message" id="rrm_numberofpositionsBDEHeadError"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Priority </label>
                                        <div id="sdcmb_rrmbdehead_priority"></div>
                                        <span class="error_message" id="rrm_priorityBDEHeadError"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Department <span style="color: red">*</span></label>
                                        <div id="sdcmb_rrmbdehead_department"></div>
                                        <span class="error_message" id="rrm_departmentBDEHeadError"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Designation <span style="color: red">*</span></label>
                                        <div id="sdcmb_rrmbdehead_designation"></div>
                                        <span class="error_message" id="rrm_designationBDEHeadError"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Experience required (In Yrs)<span style="color: red">*</span></label>
                                        <div id="sdnmb_rrmbdehead_experiencerequired"></div>
                                        <span class="error_message" id="rrm_experiencerequiredBDEHeadError"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Communication <span style="color: red">*</span></label>
                                        <div id="sdcmb_rrmbdehead_communication"></div>
                                        <span class="error_message" id="rrm_communicationBDEHeadError"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Location</label>
                                        <div id="sdtxt_rrmbdehead_location"></div>
                                        <span class="error_message" id="rrm_locationforBDEHeadError"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Requested Date</label>
                                        <div id="sd_date_rrmbdehead_requestedDate"></div>
                                        <span class="error_message" id="rrm_requesteddateBDEHeadError"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Importance</label>
                                    </div>
                                    <div class="form-group col-md-6" id="rrm_importance">
                                        <div id="sdchk_rrmbdehead_losingRevenue"></div>
                                    </div>
                                    <div class="form-group col-md-6" id="rrm_importance">
                                        <div id="sdchk_rrmbdehead_fromVIP"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id = "lblLeadNameBDEHead"></label>
                                        <div id="sdtxt_rrmbdehead_requirementlead"></div>
                                        <input type="text" class="form-control" name="rrm_requirementleadBDEHead" id="rrm_requirementleadBDEHead" readonly />
                                        <span class="error_message" id="rrm_requirementleadBDEHeadError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="rrm_SkillDetailsBDEHead">
                            <div class="row">  
                                    <div class="col-md-12">
                                        <div id="sdgd-rrmBDEHeadSkills"></div>
                                        <br>
                                    </div>
                            </div>
                        </div>


                        <div role="tabpanel" class="tab-pane" id="rrm_SkillsPlanADetailsBDEHead">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Skill details(Plan A)<span style="color: red"> *</span></label>
                                    <div id="sd_txtEditorbdehead_skillDetailsPlanA"></div>
                                    <span class="error_message" id="rrm_skilldetailsplanaBDEHeadError" style="display: block;"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>To On board <span style="color: red">*</span></label>
                                    <div id="sd_date_rrmbdehead_tobeonboardplana"></div>
                                    <span class="error_message" id="rrm_tobeonboardplanaBDEHeadError" style="display: block;"></span>
                                </div>
                                <div class="form-group col-md-12" id="divBDEHeads" style="visibility:hidden">
                                <!--<div class="form-group col-md-4" id="divBDEHeads">-->
                                    <label for="BDEHeads" id="lblBDEHeads">BDEHeads </label>
                                    <!--<select class="form-control" id="rrm_BDEHeadsplanaBDEHead" multiple="multiple"></select>-->
                                    <select class="form-control" id="rrm_BDEHeadsplanaBDEHead"></select>
                                    <span class="error_message" id="rrm_BDEHeadsplanaBDEHeadError"></span>
                                </div>
                                <div class="form-group col-md-2" style="visibility:hidden">
                                    <label id="hidebtn">&nbsp;</label>
                                    <a class="btn btn-primary form-control btn-sm" id="btnreminderBDEHead" onclick="btnsendreminder()"><span class="glyphicon glyphicon-bell"></span>  Send Reminder</a>
                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="rrm_SkillsPlanBDetailsBDEHead">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Skill details(Plan B)<span style="color: red"> *</span></label>
                                    <div id="sd_txtEditorbdehead_skillDetailsPlanB"></div>
                                    <span class="error_message" id="rrm_skilldetailsplanbBDEHeadError" style="display: block;"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>To On board<span style="color: red">*</span></label>
                                    <div id="sd_date_rrmbdehead_tobeonboardplanb"></div>
                                    <span class="error_message" id="rrm_tobeonboardplanbBDEHeadError" style="display: block;"></span>
                                </div>
                                <div class="form-group col-md-12" id="planbBDEHeads" style="visibility:hidden">
                                    <label for="BDEHeads">BDEHeads </label>
                                    <select class="form-control" id="rrm_BDEHeadsplanbBDEHead" multiple="multiple"></select>
                                    <span class="error_message" id="rrm_BDEHeadsplanbBDEHeadError"></span>
                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="rrm_CommentsDetailsBDEHead">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>On Hold by BDE &nbsp</label>
                                    <div id="switchClientBDEHead"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>On Hold by Owner &nbsp</label>
                                    <div id="switchLeadBDEHead"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div id="rrm_manage_plan_comments_documents_BDEHead" class="rrm_comments_history">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Comments </label>
                                    <!-- <textarea class="form-control" name="rrm_commentsBDEHead" rows="3" id="rrm_commentsBDEHead"></textarea> -->
                                    <div id="sd_txtEditor_RRMBDEHeadComments"></div>
                                    <span class="error_message" id="rrm_commentsBDEHeadError"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <span class="ApiResponse"></span>
            </div>
            <div class="modal-footer">
                <div>
                    <a class="btn btn-primary btnPrevious hidden-btn" onclick="toggleTabRRMEntryPreviousBDEHead()">Previous</a>
                    <a class="btn btn-primary btnNext" onclick="toggleTabRRMEntryBDEHead()">Next</a>
                    <button type="button" class="btn btn-primary saveFamilyBtn hidden-btn" onclick="saveCommentsBDEHead()">Save & Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .rrm_comments_history {
        border: solid 1px #D1D1D1;
        height: 250px;
        overflow-y: scroll;
        padding: 10px;
        background-color: #E3E3E3;
        margin-bottom: 10px;
    }

    .rrm_comments_history .message {
        height:auto;
        background-color: inherit;
        display: inline-block;
        max-width: 60%;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }

    .rrm_comments_history .text{
        padding-top: 10px;
    }

    .rrm_comments_history .name {
        font-weight: bold;
    }

    .rrm_comments_history .date {
        opacity: 0.5;
    }
</style>

<style>
    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
        text-align: left !important;
    }
</style>
<script src='components/rrmentrypointbdehead/js/rrmEntryPointBDEHeadDevExtremeControls.js'></script>
<script type="text/javascript" id="rrmEntryPointModalScript">
    //var addRRMEntryPointJs;
    $(document).ready(function () {
        bindDevExtremeControlsForRRMEntryPointBDEHead();
        initializeModalBDEHead();
        var localget = localStorage.getItem("UserCheckRes");
        var jsonData = JSON.parse(localget);
        Token = jsonData.Data[0].Token
        Department = jsonData.Data[0].DepartmentID
        BackupLead = jsonData.Data["0"].mentorFirstName + " " + jsonData.Data["0"].mentorLastName
        LoggedUser = jsonData.Data["0"].FirstName + " " + jsonData.Data["0"].LastName
        BackupLeadId = jsonData.Data["0"].MentorId
        EmployeeId = jsonData.Data["0"].EmployeeID

        //tab-toggle
        $('ul#rrmtabBDEHead li').click(function (e) {
            $('ul#rrmtabBDEHead li').removeClass("active");
            $(this).addClass("active");
            var tab_details = $(this).attr("id");
            var currentTab = $("#" + tab_details + " > a ").attr("aria-controls");
            $("#rrmDetailsBDEHead .tab-pane").removeClass("active");
            $("#" + currentTab).addClass("active");

            if (currentTab == "rrm_SkillDetailsBDEHead") {
                editRRMEntryPointJsBDEHead.getSkillsDetails(rrmId);
                $("#editskillBDEHead").attr('disabled', 'disabled');
                $("#deleteskillBDEHead").attr('disabled', 'disabled');
                $(".btnPrevious").show();
                if (!IsRrmSaved) {
                    $(".saveFamilyBtn").hide();
                    $("a.btnNext").show();
                }
            }
            else if (currentTab == "rrm_CommentsDetailsBDEHead") {
                $(".btnPrevious").show();
                if (!IsRrmSaved) {
                    $(".saveFamilyBtn").show();
                    editRRMEntryPointJsBDEHead.getManageCommentHistory(rrmId);
                    $("a.btnNext").hide();
                }
            }
            else if (currentTab == "rrm_SkillsPlanADetailsBDEHead") {
                $("#sd_txtEditorbdehead_skillDetailsPlanA").dxHtmlEditor('instance').option("value",planAcomments);
                $(".btnPrevious").show();
                if (!IsRrmSaved) {
                    $(".saveFamilyBtn").hide();
                    $("a.btnNext").show();
                }
            }
            else if (currentTab == "rrm_SkillsPlanBDetailsBDEHead") {
                $("#sd_txtEditorbdehead_skillDetailsPlanB").dxHtmlEditor('instance').option("value",planBcomments);
                $(".btnPrevious").show();
                if (!IsRrmSaved) {
                    $(".saveFamilyBtn").hide();
                    $("a.btnNext").show();
                }
            }
            else if (currentTab == "rrm_RequirementDetailsBDEHead") {
                $(".btnPrevious").hide();
                if (!IsRrmSaved) {
                    $(".saveFamilyBtn").hide();
                    $("a.btnNext").show();
                }
            }
        });
        $(function () {
            $("#switchClientBDEHead").dxSwitch({
                value: false,
                switchedOffText: "NO",
                switchedOnText: "YES",
                disabled: true
            });
        });
        $(function () {
            $("#switchLeadBDEHead").dxSwitch({
                value: false,
                switchedOffText: "NO",
                switchedOnText: "YES",
                disabled: true
            });
        });
    })

    var Token;
    var Department;
    var BackupLead;
    var BackupLeadId;
    var EmployeeId;

    //rrm button type
    function loadRRMByType(type) {
        if (type == "add") {
            initializeAddRRMBDEHead();

        }
        else if (type == "edit") {
            initializeEditRRMBDEHead();
        }
    }

    //tab toggle next button
    function toggleTabRRMEntryBDEHead() {
        if (addRRMTypeBDEHead == "edit") {
            editRRMEntryPointJsBDEHead.toggleTabRRMEntry();
        }
        else if (addRRMTypeBDEHead == "add") {
            addRRMEntryPointJsBDEHead.toggleTabRRMEntry();
        }
    }

    //tab toggle previous button
    function toggleTabRRMEntryPreviousBDEHead() {
        if (addRRMTypeBDEHead == "edit") {
            editRRMEntryPointJsBDEHead.toggleTabRRMEntryPrevious();
        }
        else if (addRRMTypeBDEHead == "add") {
            addRRMEntryPointJsBDEHead.toggleTabRRMEntryPrevious();
        }
    }

    //save hr commnets
    function saveCommentsBDEHead() {
        
        if (addRRMTypeBDEHead == "add") {
            addRRMEntryPointJsBDEHead.saveComments();
        }
        else if (addRRMTypeBDEHead == "edit") {
            editRRMEntryPointJsBDEHead.saveComments();
        }

    }

    //initialize model
    function initializeModalBDEHead() {
        
        $('.error_message').html('');
        $('.nav-tabs a[href="#rrm_RequirementDetailsBDEHead"]').tab("show");
        $("a.btnNext").show();
        $(".saveFamilyBtn").hide();
        $(".btnPrevious").hide();
        clearFormDataBdeHead();
    }

    function initializeModalAddBDEHead() {
        $('.error_message').html('');
        $('.nav-tabs a[href="#rrm_RequirementDetailsBDEHead"]').tab("show");
        $("a.btnNext").show();
        $(".saveFamilyBtn").hide();
        $(".btnPrevious").hide();
        //clearFormDataBdeHeadAddBDEHead();
        clearFormDataBdeHead()
    }

    //initialize Add RRM
    function initializeAddRRMBDEHead() {
        $("#rrm_rfpidBDEHead").attr('readonly', true);
        $("#rrm_empidBDEHead").attr('readonly', true);
        $('#rrm_entrybdeBDEHead').attr("disabled", "disabled");
        $('#rrm_entrybdeBDEHead').attr('readonly', true);
        $('#rrm_replacementBDEHead').attr('readonly', true);
        $('#rrm_replacementBDEHead').attr("disabled", "disabled");
        $("#sdcmb_rrmbdehead_department").dxSelectBox('instance').option('readOnly',true);
        $("#sdchk_rrmbdehead_losingRevenue").dxCheckBox('instance').option('readOnly',true);
        $("#sdchk_rrmbdehead_fromVIP").dxCheckBox('instance').option('readOnly',true);
        $("#sdtxt_rrmbdehead_requirementlead").dxTextBox('instance').option('readOnly',true);
        //$('#rrm_BDEHeadsplanaBDEHead').attr('readonly', true);
        //$('#rrm_BDEHeadsplanaBDEHead').attr("disabled", "disabled");
        var date = new Date();
        var currentDate = date.toISOString().slice(0, 10);
        var tdydate = new Date();
        tdydate.setDate(tdydate.getDate() + 1);
        var nxtDate = tdydate.toISOString().slice(0, 10);
        $("#sd_date_rrmbdehead_requestedDate").dxDateBox('instance').option('value',currentDate);
        $("#sd_date_rrmbdehead_tobeonboardplana").dxDateBox('instance').option("value",nxtDate);
        $("#sd_date_rrmbdehead_tobeonboardplanb").dxDateBox('instance').option("value",nxtDate);

        $("#divBDEHeadRFP").hide();
        $("#divBDEHeadresignation").hide();

        $("#sd_date_rrmbdehead_requestedDate").dxDateBox('instance').option('readOnly',true);

        $("#sdtxt_rrmbdehead_requirementname").dxTextBox('instance').option('readOnly',false);
        $("#sdtxt_rrmbdehead_requiredfor").dxTextBox('instance').option('readOnly',false);
        $("#sd_date_rrmbdehead_tobeonboardplana").dxDateBox('instance').option("readOnly",false);
        $("#rrm_tobeonboardplanBDEHead").removeAttr('disabled');
        $("#sd_txtEditorbdehead_skillDetailsPlanA").dxHtmlEditor('instance').option("readOnly",false);
        $("#sd_txtEditorbdehead_skillDetailsPlanB").dxHtmlEditor('instance').option("readOnly",false);
        resetFormDataBDEHead();
        loadAndBindForAddRRMBDEHead();
    }

    //reset form Data
    function resetFormDataBDEHead() {
        bindDevExtremeControlsForRRMEntryPointBDEHead();        

        planAcomments = null;
        planBcomments = null;
        rrmId = null;
        $("#sd_txtEditorbdehead_skillDetailsPlanA").dxHtmlEditor('instance').option("value","");
        $("#sd_txtEditorbdehead_skillDetailsPlanB").dxHtmlEditor('instance').option("value","");
        $("#sd_txtEditor_RRMBDEHeadComments").dxHtmlEditor('instance').option("value","");
        addRRMEntryPointJsBDEHead.getSkillsDetails(rrmId);
        $("#rrm_manage_plan_comments_documents_BDEHead").hide();
        $("#sd_txtEditorbdehead_skillDetailsPlanB").dxHtmlEditor('instance').option("readOnly",false);
        $("#sd_txtEditorbdehead_skillDetailsPlanA").dxHtmlEditor('instance').option("readOnly",false);
        $("#sd_date_rrmbdehead_tobeonboardplana").dxDateBox('instance').option("readOnly",false);
        $("#sd_date_rrmbdehead_tobeonboardplanb").dxDateBox('instance').option("readOnly",false);
    }

    //load And Bind For Add RRM
    function loadAndBindForAddRRMBDEHead() {
        $("a.btnPrevious").hide();
        $(".saveFamilyBtn").hide();
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });

        loadAndBindRequirementDetailsTabForAddRRMBDEHead();
        loadAndBindSkillMappingTabForAddRRMBDEHead();

        var getBDEHeadList = loadBDEHeadList();

        loadAndBindPlanATabForAddRRM();
        loadAndBindPlanBTabForAddRRM();
        loadAndBindCommentsForAddRRM();
    }

    //load And Bind Requirement Details Tab For Add RRM
    function loadAndBindRequirementDetailsTabForAddRRMBDEHead() {
        //Load BDEHead

      //  var bderesult = callgetlist('GetBDExecutive', '{"IsActive":"True"}');
        callGetListAsync('GetBDExecutive', '{"IsActive":"True"}', function (bderesult) {
            var bdeoptions = "<option value =''>Select BDEHead</option>";
            for (var i = 0; i < bderesult.length; i++) {
                bdeoptions += "<option value='" + bderesult[i].Id + "'>" + bderesult[i].Name + "</option>";
            }

            $("#rrm_entrybdeBDEHead").html(bdeoptions);
        });

        //Load Departments
       //var departmentresult = callgetlist('GetDepartmentsForRRM', '{"IsActive":"True"}')
        callGetListAsync('GetDepartmentsForRRM', '{"IsActive":"True"}', function (departmentresult) {
            var departmentList = [];
            for (i = 0; i < departmentresult.length; i++) {
                var obj = {
                    "Id":departmentresult[i].DepartmentId,
                    "Name":departmentresult[i].DepartmentName
                }
                departmentList.push(obj);
            }
            $("#sdcmb_rrmbdehead_department").dxSelectBox('instance').option('dataSource',new DevExpress.data.ArrayStore({
                data: departmentList,
                key: "Id"
            }));
            $("#sdcmb_rrmbdehead_department").dxSelectBox('instance').option('value',Department);
        });
        //Load Designation
       // var designationresult = callgetlist('GetDesignationsForRRM', '{"IsActive":"True"}')
        callGetListAsync('GetDesignationsForRRM', '{"IsActive":"True"}', function (designationresult) {
            var designationList = [];
            for (i = 0; i < designationresult.length; i++) {
                var obj = {
                    "Id":designationresult[i].DesignationId,
                    "Name":designationresult[i].DesignationName
                }
                designationList.push(obj);
            }
            $("#sdcmb_rrmbdehead_designation").dxSelectBox('instance').option('dataSource',new DevExpress.data.ArrayStore({
                data: designationList,
                key: "Id"
            }));
        });
        //Load Priorities
      //  var prioritiesresult = callgetlist('GetPrioritiesForRRM', '{"IsActive":"True"}')
        callGetListAsync('GetPrioritiesForRRM', '{"IsActive":"True"}', function (prioritiesresult) {
            var prioritiesList = [];
            for (i = 0; i < prioritiesresult.length; i++) {
                var obj = {
                    "Id":prioritiesresult[i].PriorityId,
                    "Name":prioritiesresult[i].PriorityName
                }
                prioritiesList.push(obj);
            }
            $("#sdcmb_rrmbdehead_priority").dxSelectBox('instance').option('dataSource',new DevExpress.data.ArrayStore({
                data: prioritiesList,
                key: "Id"
            }));
            $("#sdcmb_rrmbdehead_priority").dxSelectBox('instance').option('value',"224BE1C0-DC9A-4629-B888-2B4D4D6D1707");
        });
        //Load ResourceReplacement
        //var resorceresult = callgetlist('GetResourceReplacement', '{"IsActive":"True"}')
        callGetListAsync('GetResourceReplacement', '{"IsActive":"True"}', function (resorceresult) {
            var resorceoption = "<option value=''>Select Resource Replacement</option>";
            for (i = 0; i < resorceresult.length; i++) {
                resorceoption += "<option value='" + resorceresult[i].Id + "'>" + resorceresult[i].Name + "</option>"
            }

            $("#rrm_replacementBDEHead").html(resorceoption);
        });
        //bind defalut value for from
        $("#sdcmb_rrmbdehead_priority").dxSelectBox('instance').option('value',"224BE1C0-DC9A-4629-B888-2B4D4D6D1707");
        $("#sdcmb_rrmbdehead_department").dxSelectBox('instance').option('value',Department);
        $("#sdtxt_rrmbdehead_requirementlead").dxTextBox('instance').option('value',LoggedUser);
        $("#sdnmb_rrmbdehead_numberofpositions").dxNumberBox('instance').option('value',"1");
        $("#sdcmb_rrmbdehead_communication").dxSelectBox('instance').option('value',"Good");
        $("#sdtxt_rrmbdehead_location").dxTextBox('instance').option('value',"Coimbatore");
    }

    //load And Bind Skill Mapping Tab For Add RRM
    function loadAndBindSkillMappingTabForAddRRMBDEHead() {
        var employee_id = '';
        var filter_val = JSON.stringify({
            "EmployeeId": employee_id
        });
        var result = callgetlist('GetEmployeeSkills', filter_val);
        // <!-- var loaddata = computeHTML_SkillInfoEntry(result); -->
        //  <!-- $('#display_SkillsEntry').html(loaddata); -->

        var filter_val = JSON.stringify({ "IsActive": true });
        var result = callgetlist('GetSkillFamilies', filter_val);

        var options = "<option value=''>Select Family</option>";
        for (var i = 0; i < result.length; i++) {
            options += "<option value='" + result[i].Id + "'>" + result[i].Name + "</option>";
        }
    }

    //load BDEHeadList
    function loadBDEHeadList() {
        return recuirtersdetails = callgetlist('GetHRForRRM', '{"IsActive":"True"}')
    }

    //load And Bind PlanA Tab For Add RRM
    function loadAndBindPlanATabForAddRRM() {        
        var recuirtersoption = "<option value=''>Select Recuirters</option>";
        for (i = 0; i < recuirtersdetails.length; i++) {
            recuirtersoption += "<option value='" + recuirtersdetails[i].EmployeeId + "'>" + recuirtersdetails[i].EmployeeName + "</option>"
        }
        $("#rrm_BDEHeadsplanbBDEHead").html(recuirtersoption);
    }

    //load And Bind PlanB Tab For Add RRM
    function loadAndBindPlanBTabForAddRRM() {        

        var recuirtersoption = "<option value=''>Select Recuirters</option>";
        for (i = 0; i < recuirtersdetails.length; i++) {
            recuirtersoption += "<option value='" + recuirtersdetails[i].EmployeeId + "'>" + recuirtersdetails[i].EmployeeName + "</option>"
        }
        $("#rrm_BDEHeadsplanaBDEHead").html(recuirtersoption);
    }

    //load And Bind Comments For Add RRM
    function loadAndBindCommentsForAddRRM() {
        
    }

    //initialize Edit RRM
    function initializeEditRRMBDEHead(rrmid) {
        $('.form-control').removeClass('required_field');
        $('.error_message').html('');
        $('#RRMEntryPointModelBDEHead').appendTo("body").modal("show");
        $('.nav-tabs a[href="#rrm_RequirementDetailsBDEHead"]').tab("show");
        $("a.btnNext").show();
        $(".saveFamilyBtn").hide();
        $(".btnPrevious").hide();
        //$("#editskillBDEHead").attr('disabled', 'disabled');
        //$("#deleteskillBDEHead").attr('disabled', 'disabled');
        //$("#btnreminderBDEHead").attr('disabled', 'disabled');


        $("#rrm_rfpidBDEHead").attr('readonly', true);
        $("#rrm_empidBDEHead").attr('readonly', true);
        $('#rrm_entrybdeBDEHead').attr("disabled", "disabled");
        $('#rrm_entrybdeBDEHead').attr('readonly', true);
        $('#rrm_replacementBDEHead').attr('readonly', true);
        $('#rrm_replacementBDEHead').attr("disabled", "disabled");
        $("#sdnmb_rrmbdehead_numberofpositions").dxNumberBox('instance').option('readOnly',true);
        $("#sdcmb_rrmbdehead_department").dxSelectBox('instance').option('readOnly',true);
        $("#sdcmb_rrmbdehead_designation").dxSelectBox('instance').option('readOnly',true);
        //$('#rrm_BDEHeadsplanaBDEHead').attr('readonly', true);
        //$('#rrm_BDEHeadsplanaBDEHead').attr("disabled", "disabled");
        $('#rrm_BDEHeadsplanaBDEHead').attr('readonly', true);
        $('#rrm_BDEHeadsplanbBDEHead').attr("disabled", "disabled");
        $("#sd_date_rrmbdehead_requestedDate").dxDateBox('instance').option('readOnly',true);
        $("#sdchk_rrmbdehead_losingRevenue").dxCheckBox('instance').option('readOnly',true);
        $("#sdchk_rrmbdehead_fromVIP").dxCheckBox('instance').option('readOnly',true);
        //$('#rrm_TechnicalHeadsplanaTechnicalHead').attr("disabled", "disabled");
        $('#rrm_TechnicalHeadsplanbTechnicalHead').attr("disabled", "disabled");
        $("#rrm_numberofpositionsTechnicalHead").attr('readonly', true);
        $("#rrm_designationTechnicalHead").prop("disabled", true);
        $("#rrm_requirementleadTechnicalHead").attr('readonly', true);

        $("#hidedivBDEHead").show();
        $("#sdtxt_rrmbdehead_requirementname").dxTextBox('instance').option('readOnly',true);
        $("#sdtxt_rrmbdehead_requiredfor").dxTextBox('instance').option('readOnly',true);
        $("#sd_date_rrmbdehead_tobeonboardplana").dxDateBox('instance').option("readOnly",true);
        $("#sd_date_rrmbdehead_tobeonboardplana").dxDateBox('instance').option("min","");
        $("#sd_date_rrmbdehead_tobeonboardplanb").dxDateBox('instance').option("readOnly",true);
        $("#sd_date_rrmbdehead_tobeonboardplanb").dxDateBox('instance').option("min","");
                loadAndBindRequirementDetailsTabForAddRRMBDEHead()
        //loadAndBindEditRRMData(rrmid) ;


        if (ResourceRequirementTypeBDEHead == "G") {
            $("#divBDEHeadRFP").hide();
            $("#divBDEHeadresignation").hide();
        }
        else if (ResourceRequirementTypeBDEHead == "P") {
            $("#divBDEHeadRFP").show();
            $("#divBDEHeadresignation").hide();
        }
        else if (ResourceRequirementTypeBDEHead == "R") {
            $("#divBDEHeadRFP").hide();
            $("#divBDEHeadresignation").show();

        }
        loadAndBindSkillMappingTabForAddRRMBDEHead();
    }

    //clear addFormdata
    function clearFormDataAddBDEHead() {
        $("#sdtxt_rrmbdehead_requirementname").dxTextBox('instance').option('value',"");
        $("#sdtxt_rrmbdehead_requiredfor").dxTextBox('instance').option('value',"");
        $("#rrm_empidBDEHead").val("");
        $("#rrm_entrybdeBDEHead").val("");
        $("#sdnmb_rrmbdehead_numberofpositions").dxNumberBox('instance').option('value',"");

        $("#sdcmb_rrmbdehead_department").dxSelectBox('instance').option('value',"");
        $("#sdcmb_rrmbdehead_designation").dxSelectBox('instance').option('value',"");
        $("#sdnmb_rrmbdehead_experiencerequired").dxNumberBox('instance').option('value',"");
        $("#sdtxt_rrmbdehead_location").dxTextBox('instance').option('value',"");
        var date = new Date();
        var currentDate = date.toISOString().slice(0, 10);
        $("#sd_date_rrmbdehead_requestedDate").dxDateBox('instance').option('value',currentDate);
        $("#sdtxt_rrmbdehead_requirementlead").dxTextBox('instance').option('value',"");
        var tdydate = new Date();
        tdydate.setDate(tdydate.getDate() + 1);
        var nxtDate = tdydate.toISOString().slice(0, 10);
        $("#sd_date_rrmbdehead_tobeonboardplana").dxDateBox('instance').option("value",nxtDate);
        $("#sd_date_rrmbdehead_tobeonboardplanb").dxDateBox('instance').option("value",nxtDate);

        //reset form 
        $('.form-control').removeClass('required_field');
        $('.error_message').html('');
        $("#rrm_rfpidBDEHead").removeAttr('readonly');
        $("#rrm_empidBDEHead").removeAttr('readonly');
        // $('#rrm_entrybde').attr("visible", "visible"); 
        $('#rrm_entrybdeBDEHead').removeAttr('readonly');
        $('#rrm_entrybdeBDEHead').removeAttr('disabled');
        $('#rrm_replacementBDEHead').removeAttr('readonly');
        $('#rrm_replacementBDEHead').removeAttr('disabled');
        //$('#rrm_replacement').attr("disabled", "visible"); 
        $("#sdnmb_rrmbdehead_numberofpositions").dxNumberBox('instance').option('readOnly',false);
        // $('#rrm_numberofpositions').attr("visible", "true"); 
        $("#sdcmb_rrmbdehead_department").dxSelectBox('instance').option('readOnly',false);
        //$('#rrm_department').attr("visible", "visible"); 
        $("#sdcmb_rrmbdehead_designation").dxSelectBox('instance').option('readOnly',false);
        //$('#rrm_designation').attr("visible", "visible"); 
        $('#rrm_BDEHeadsplanaBDEHead').removeAttr('readonly');
        $('#rrm_BDEHeadsplanaBDEHead').removeAttr('disabled');
        // $('#rrm_BDEHeadsplana').attr("visible", "visible"); 
        $('#rrm_BDEHeadsplanbBDEHead').removeAttr('readonly');
        $('#rrm_BDEHeadsplanbBDEHead').removeAttr('disabled');
        //$('#rrm_BDEHeadsplanb').attr("visible", "visible");
        $("#sd_date_rrmbdehead_requestedDate").dxDateBox('instance').option('readOnly',false);
        $("#sdcmb_rrmbdehead_designation").dxSelectBox('instance').option('visible',true);
        
        skillsClearAndShow();
    }

    //clear Form Data
    function clearFormDataBdeHead() {
        $("#sdtxt_rrmbdehead_requirementname").dxTextBox('instance').option('value',"");
        $("#sdtxt_rrmbdehead_requiredfor").dxTextBox('instance').option('value',"");
        $("#rrm_empidBDEHead").val("");
        $("#rrm_entrybdeBDEHead").val("");
        $("#sdnmb_rrmbdehead_numberofpositions").dxNumberBox('instance').option('value',"");

        $("#sdcmb_rrmbdehead_department").dxSelectBox('instance').option('value',"");
        $("#sdcmb_rrmbdehead_designation").dxSelectBox('instance').option('value',"");
        $("#sdnmb_rrmbdehead_experiencerequired").dxNumberBox('instance').option('value',"");
        $("#sdtxt_rrmbdehead_location").dxTextBox('instance').option('value',"");
        var date = new Date();
        var currentDate = date.toISOString().slice(0, 10);
        $("#sd_date_rrmbdehead_requestedDate").dxDateBox('instance').option('value',currentDate);
        $("#sdtxt_rrmbdehead_requirementlead").dxTextBox('instance').option('value',"");
        var tdydate = new Date();
        tdydate.setDate(tdydate.getDate() + 1);
        var nxtDate = tdydate.toISOString().slice(0, 10);
        $("#sd_date_rrmbdehead_tobeonboardplana").dxDateBox('instance').option("value",nxtDate);
        $("#sd_date_rrmbdehead_tobeonboardplanb").dxDateBox('instance').option("value",nxtDate);

        //reset form
        $('.form-control').removeClass('required_field');
        $('.error_message').html('');
        $("#rrm_rfpidBDEHead").removeAttr('readonly');
        $("#rrm_empidBDEHead").removeAttr('readonly');
        // $('#rrm_entrybdeBDEHead').attr("visible", "visible");
        $('#rrm_entrybdeBDEHead').removeAttr('readonly');
        $('#rrm_entrybdeBDEHead').removeAttr('disabled');
        $('#rrm_replacementBDEHead').removeAttr('readonly');
        $('#rrm_replacementBDEHead').removeAttr('disabled');
        //$('#rrm_replacementBDEHead').attr("disabled", "visible");
        $("#sdnmb_rrmbdehead_numberofpositions").dxNumberBox('instance').option('readOnly',false);
        $("#sdcmb_rrmbdehead_department").dxSelectBox('instance').option('readOnly',false);
        $("#sdcmb_rrmbdehead_designation").dxSelectBox('instance').option('readOnly',false);
        $('#rrm_BDEHeadsplanaBDEHead').removeAttr('readonly');
        $('#rrm_BDEHeadsplanaBDEHead').removeAttr('disabled');
        // $('#rrm_BDEHeadsplanaBDEHead').attr("visible", "visible");
        $('#rrm_BDEHeadsplanbBDEHead').removeAttr('readonly');
        $('#rrm_BDEHeadsplanbBDEHead').removeAttr('disabled');
        //$('#rrm_BDEHeadsplanb').attr("visible", "visible");
        $("#sd_date_rrmbdehead_requestedDate").dxDateBox('instance').option('readOnly',false);
        $("#sdcmb_rrmbdehead_designation").dxSelectBox('instance').option('visible',true);
        //
        $("#sdcmb_rrmbdehead_priority").dxSelectBox('instance').option('readOnly',false);
        $("#sdnmb_rrmbdehead_experiencerequired").dxNumberBox('instance').option('readOnly',false);
        $("#sdcmb_rrmbdehead_communication").dxSelectBox('instance').option('readOnly',false);
        $("#editSkillMappingRRMBDEHead").show();
        $("#deleteSkillMappingRRMBDEHead").show();
        $("#sd_txtEditor_RRMBDEHeadComments").dxHtmlEditor('instance').option("readOnly",false);
        $("#sdtxt_rrmbdehead_location").dxTextBox('instance').option('readOnly',false);
        skillsClearAndShow();
    }

    //skills Clear And Show
    function skillsClearAndShow() { // Clear our fields

    }

    function readOnlyFormDataBDEHead() {
        $("#sdcmb_rrmbdehead_priority").dxSelectBox('instance').option('readOnly',true);
        $("#sdcmb_rrmbdehead_department").dxSelectBox('instance').option('readOnly',true);
        $("#sdnmb_rrmbdehead_experiencerequired").dxNumberBox('instance').option('readOnly',true);
        $("#sdcmb_rrmbdehead_communication").dxSelectBox('instance').option('readOnly',true);
        $("#editSkillMappingRRMBDEHead").hide();
        $("#deleteSkillMappingRRMBDEHead").hide();
        $("#sd_txtEditor_RRMBDEHeadComments").dxHtmlEditor('instance').option("readOnly",true);
        $("#sdtxt_rrmbdehead_location").dxTextBox('instance').option('readOnly',true);                                              
    }

</script>


<style>

    .rrm_manage_plan_history_lists {
        border: solid 1px #D1D1D1;
        height: 250px;
        overflow-y: scroll;
        padding: 10px;
        background-color: #E3E3E3;
        margin-bottom: 10px;
    }

        .rrm_manage_plan_history_lists .manage_comment {
            padding: 10px;
            border-radius: 4px;
            margin-top: 20px;
            word-break: break-all;
            background-color: #ffff;
            cursor: pointer;
        }

        .rrm_manage_plan_history_lists label {
            font-weight: 100;
        }

        .rrm_manage_plan_history_lists small {
            font-size: 8pt;
            font-weight: 400 !important;
            display: block;
        }

            .rrm_manage_plan_history_lists small span:last-child {
                margin-left: 5px;
            }
</style>
