.text-core {
  position: relative;
}
.text-core .text-wrap {
  background: #fff;
  position: absolute;
  width: 100%!important;
}
.text-core .text-wrap textarea,
.text-core .text-wrap input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  resize: none;
  position: absolute;
  z-index: 1;
  background: none;
  overflow: hidden;
  margin: 0;
      border: 1px solid #ccc;
    border-radius: 4px;
  white-space: nowrap;
  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;
  line-height: 13px;
  height: auto;
  width: 100%!important;
}


.text-core .text-wrap .text-tags {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3px 3px 3px 3px;
  cursor: text;
}
.text-core .text-wrap .text-tags.text-tags-on-top {
  z-index: 2;
}
.text-core .text-wrap .text-tags .text-tag {
  float: left;
}
.text-core .text-wrap .text-tags .text-tag .text-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  border: 1px solid #344860;
  background: #344860;
  color: #fff;
  padding: 0px 17px 0px 5px;
  margin: 0 2px 2px 0;
  cursor: pointer;
  height: 22px;
  font-size: 14px;
}
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
    position: absolute;
    right: 3px;
    top: 4px;
    display: block;
    width: 11px;
    height: 11px;
    line-height: 11px;
    text-align: center;

}
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove:before {
  content: "x";
  color: #fff;
}
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove:hover {
  background-position: 0 -11px;
}
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove:active {
  background-position: 0 -22px;
}
.text-core .text-wrap .text-prompt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 1px 0 0 2px;
  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;
  color: #c0c0c0;
  overflow: hidden;
  white-space: pre;
}
.text-core .text-wrap .text-prompt.text-hide-prompt {
  display: none;
}
