<div class="card-detail">
        <span><i><img src="./image/dashboard/appraisal.png" width="40px" height="40px" /></i></span>
        <span class="card-detail-title"><b>Appraisal</b></span>
        <span>&nbsp;pending appraisals to be completed</span>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>S.No</td>
                        <td>Employee Name</td>
                        <td>Date & Time</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Pradeep</td>
                        <td>31-08-18 6:48:26 PM</td>
                        <td>
                            <input type="button" class="btn btn-xs btn-primary"
                                value="Start Appraisal" />
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Raajeev</td>
                        <td>31-08-18 6:48:26 PM</td>
                        <td>
                            <input type="button" class="btn btn-xs btn-primary"
                                value="Start Appraisal" />
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sriram</td>
                        <td>31-08-18 6:48:26 PM</td>
                        <td>
                            <input type="button" class="btn btn-xs btn-primary"
                                value="Start Appraisal" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>