<script id="TechnicalTeam">
    var folderName = "rrmentrypointtechnicalteam";
    $(document).ready(function () {
        var pageId = "TechnicalTeam";
        PageInitializeTechnicalTeam(pageId);
    });

    function PageInitializeTechnicalTeam(pageId) {
        var rrmEntryGrid = RRMEntryPointGridTechnicalTeam(pageId);
        rrmEntryGrid.getRRMEntryTable();
    }
</script>

<link href="components/rrmentrypointtechnicalteam/css/rrmentrypoint.css" rel="stylesheet" />

<script src='components/rrmentrypointtechnicalteam/js/addRRMEntryPointTechnicalTeam.js'></script>
<script src='components/rrmentrypointtechnicalteam/js/editRRMEntryPointTechnicalTeam.js'></script>
<script src='components/rrmentrypointtechnicalteam/js/rrmentrypointgridrtechnicalteam.js'></script>

<div class="rrm-card-detail-NewInterviewCard card-detail">
    <span><i><img src="./image/dashboard/rrm.png" width="40px" height="40px" /></i></span>
    <span class="card-detail-title"><b>RRM Entry Point</b></span>
    <span class="pull-right">
        <button id="rrmEntryPointAddBtnTechnicalTeam" class="btn btn-sm btn-primary" data-type="add">
            <i class="glyphicon glyphicon-plus" data-toggle="modal"></i>
        </button>
    </span>
    <hr />

    <div class="rrm-card-detail">
        <div id="rrmGridReportTechnicalTeam"></div>
    </div>
</div>

<div id="rrm_entrypointmodelTechnicalTeam"></div>

<script type="text/javascript">
    $("#rrm_entrypointmodelTechnicalTeam").load("components/rrmentrypointtechnicalteam/rrmEntryPointModalTechnicalTeam.html");

    $(document).ready(function () {
        initializeRRMEntryPointTechnicalTeam();
        //editRRMEntryPointTechnicalTeamJs = EditRRMEntryPointTechnicalTeam();

        var localget = localStorage.getItem("UserCheckRes");
        var jsonData = JSON.parse(localget);
        loggedInUserDepartment = jsonData.Data[0].Department
        Token = jsonData.Data[0].Token
    })

    var loggedInUserDepartment;
    var Token;
    var editRRMEntryPointJsTechnicalTeam;
    var addRRMEntryPointJsTechnicalTeam;
    var rrmId;
    var ResourceRequirementTypeTechTeam;

    function initializeRRMEntryPointTechnicalTeam() {
        addRRMEntryPointJsTechnicalTeam = AddRRMEntryPointTechnicalTeam();
        editRRMEntryPointJsTechnicalTeam = EditRRMEntryPointOwnerTechnicalTeam();                                                                                                              
}

    $(document).on("click", ".editRRMEntryPointTechnicalTeam", function (e) {
        openEditRRMEntryPointTechnicalTeam(e)
    })
    var addRRMTypeTechnicalTeam;
    function openEditRRMEntryPointTechnicalTeam(e) {
        initializeModalTechnicalTeam();
        $('#RRMEntryPointModelTechnicalTeam').appendTo("body").modal("show");
        addRRMTypeTechnicalTeam = $(e.currentTarget).data("type");
        rrmId = $(e.currentTarget).data("rrmid");
        ResourceRequirementTypeTechTeam = $(e.currentTarget).data("rrmtype");

        $("#TechnicalTeamrrmType").attr('class', '');
        if (ResourceRequirementTypeTechTeam == "G") {
            $("#lblLeadNameTechnicalTeam").text("Requirement lead");
            $("#TechnicalTeamrrmType").html("RRM").addClass("label label-success m-l-xs");
        }
        else if (ResourceRequirementTypeTechTeam == "P") {
            $("#lblLeadNameTechnicalTeam").text("RFP Owner");
            $("#TechnicalTeamrrmType").html("RFP").addClass("label label-info m-l-xs");
        }
        else if (ResourceRequirementTypeTechTeam == "R") {
            $("#lblLeadNameTechnicalTeam").text("Backup Lead");
            $("#TechnicalTeamrrmType").html("Resignation").addClass("label label-warning m-l-xs");
        }
        initializeEditRRMTechnicalTeam(rrmId);
        editRRMEntryPointJsTechnicalTeam.RRMEntryFromRRM(rrmId);
    }

    $(document).on("click", "#rrmEntryPointAddBtnTechnicalTeam", function (e) {
        rrmAddBtnClickedTechnicalTeam(e)
    })

    function rrmAddBtnClickedTechnicalTeam(e) {
        addRRMTypeTechnicalTeam = "add";
        $('#RRMEntryPointModelTechnicalTeam').appendTo("body").modal("show");

        $("#rrmmodelpagetitleTechnicalTeam").text("Add RRM");
        $("#TechnicalTeamrrmType").attr('class', '');
        $("#OwnerrrmTypeTechnicalTeam").attr('class', '');
        initializeModalTechnicalTeam()
        var rrmType = $(e.currentTarget).data("type");
        initializeAddRRMTechnicalTeam(rrmType);
    }
</script>