/* RRM Details for interview schedule card  */

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    text-align: left !important;
    padding:5px;
    font-size: 11pt;
}

#RRMDetailsAllProfileScreeningModal .table-label{
    width:25%  !important;
}

#RRMDetailsAllProfileScreeningModal {
    width: 100%;
}

#RRMDetailsAllProfileScreeningModal .modal-content{
    width: 50%;
}

#candidateDetailsProfileScreeningModal {
    width: 100%;
}

#candidateDetailsProfileScreeningModal .modal-content{
    width: 70%;
}

#candidateDetailsProfileScreeningModal .modal-body{
    min-height:calc(100vh - 200px)
}

#CandidateDetailsAllProfileScreeningModal .table-label{
    width:25%  !important;
}

#CandidateDetailsAllProfileScreeningModal {
    width: 100%;
}

#CandidateDetailsAllProfileScreeningModal .modal-content{
    width: 70%;
}