
<link href="components/callmonitoring/css/call_monitoring.css" rel="stylesheet" />
<script src='components/callmonitoring/js/call_monitoring.js'></script>


<style>
    div.dt-buttons {
    float: right;
}
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }



</style>
<script>

    //loadDatasourceForbenchtobillingreport()

</script>

<div class="view-card-detail-ViewCard card-detail">   
    <span class="card-detail-title"><b>Call Monitoring</b></span>   
    <hr />
    <div class="form-group col-md-12">
        <div class="row">
            
            <div class="col-md-4">
              <div class="form-group">
                <label>BDE <span style="color: red"></span></label>
               </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Date <span style="color: red"></span></label>
                    </div>
              </div>             
        </div>
    <div class="row">    
        <div class="col-md-4" style="padding-left: 0px;">
          <div class="form-group">
            <select class="form-control form-control-md" id="chooseBDE">
              <option>select BDE</option>
          </select>
            <span class="error_message" id="chooseBDE" style="display: block;"></span>
          </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="date" class="form-control" id="BDEDate"  />
                <span class="error_message" id="BDEDate" style="display: block;"></span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
                <button class="btn btn-primary" onclick="rendercallmonitoringGrid()"  >
                    Search
                </button>
            </div>
          </div>

    </div>
</div>
   
<div class="row">
    <div class="form-group col-md-12">
    <div id="callmonitoring_gridview">       
       
    </div>
</div>
</div>
</div>

<div class="modal fade" id="CallmonitoringModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modealExpand">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
             onclick=""><span aria-hidden="true">&times;</span></button>
             <button class="expand modalExpanding"><i class="fas fa-expand" data-toggle="modal"></i></button>
          <h2 class="modal-title" id="rrmModalLabel">Edit:</h2>
       </div>
  
        <div class="modal-body" data-simplebar>
		 <div class="tab-content col-md-12">
		 <input type="hidden" id="consultantidval" name="Id">
		   <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>BDE<span style="color: red">*</span></label>
                      <input type="text" class="form-control" name="Client Name" id="txtcallmonitoringBDE" placeholder="Employee Name" disabled/>
                      <span class="error_message" ></span>
                    </div>
                  </div>                  
                </div>
			
			<div class="row">                   
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Rating<span style="color: red">*</span></label>
                      <div class="input-group">
                          <div class="rate">
                              <input type="radio" id="star5" name="rate" value="5" />
                              <label for="star5" title="text">5 stars</label>
                              <input type="radio" id="star4" name="rate" value="4" />
                              <label for="star4" title="text">4 stars</label>
                              <input type="radio" id="star3" name="rate" value="3" />
                              <label for="star3" title="text">3 stars</label>
                              <input type="radio" id="star2" name="rate" value="2" />
                              <label for="star2" title="text">2 stars</label>
                              <input type="radio" id="star1" name="rate" value="1" />
                              <label for="star1" title="text">1 star</label>
                          </div>
                      </div>
                   
                      <span class="error_message" id="consltdtprojectstartdateerror"></span>
                    </div>
                  </div>				   
          </div>		
          <div class="row">                   
            <div class="col-md-12">
              <div class="form-group">
                <label>Comment<span style="color: red">*</span></label>
                <textarea type="text" class="form-control" id="tacallmonitoringcomment" />
                <span class="error_message" id="consltdtprojectstartdateerror"></span>
              </div>
            </div>				   
    </div>				
		</div>
		<div class="modal-footer">
<div style="float:right">
		<button type="button" class="btn btn-success"  onclick="updateconsultantdata()">Save</button>
		<button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
	</div>	
        </div>        
		</div>
        </div>
        </div>
        </div>



    



