 /* second table class */
 #ManageDefaultersTableListDetails input[type=search]
{
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    border: 1px solid #D3D3D3 !important;
    padding: 6px;
    margin-bottom: 15px;
}

 #ManageDefaultersTableListDetails input[type=search]
p{
    padding: 0px;
}

#ManageDefaultersTableListDetails input[type=search]
input[type=search]:focus
{
    outline: none;
}

#ManageDefaultersTableList
{
    width: 100% !important;
}

#ManageDefaultersTableList td,#ManageDefaultersTableList tr
{
    border-bottom: none !important;
    border-right: none !important;
    padding: 8px;
}

#ManageDefaultersTableList td:last-child
{
    border-right:1px solid #D3D3D3 !important;
}

#ManageDefaultersTableList
{
    border-bottom: 1px solid #D3D3D3;
}

#ManageDefaultersTableList_length{
    display: none;
}

#ManageDefaultersTableListDetails input[type=search]
.dataTables_filter {
    float: left !important;
 }

 #ManageDefaultersTableListDetails #managedefaulterssearchBtn
 {
     color:rgb(49, 43, 43);
     border:1px solid #D3D3D3;
     border-radius: 0px 5px 5px 0px;
     float: right;
 }

 .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 1.5vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}