
<link href="components/trainingplanapproval/css/saravanademo.css" rel="stylesheet" />

<script src="components/trainingplanapproval/js/script.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="card-detail">
	<span><i><img src="components/trainingplanapproval/images/trainingplanapproval.png" width="40px"
				height="40px" /></i></span>
	<span class="card-detail-title"><b>Training Plan Approval</b></span>
	<hr />
	<div class="row">
		<div class="col-sm-12">
			
				<table class="table table-hover table-bordered"  id="data_table">
					<thead class="bg-primary">
						<tr>
							<th>Day</th>
							<th>Topic/Videos</th>
							<th>Duration</th>
							<th>Trial Task(Practical)</th>
							<th>Trial Task Duration</th>
							<th>Cumulative Duration</th>
							<th>Approve</th>
						</tr>
					</thead>
					<tbody>
						<tr id="row1">
							<td id="dayrow1">1</td>
							<td id="videosrow1">Video 1</td>
							<td id="durationrow1">00:20</td>
							<td id="taskrow1">Create a Hello World App</td>
							<td id="hoursrow1">01:00</td>
							<td id="cumulativedurationrow1">01:20</td>
							<td>
								<input type="checkbox" value="">
							</td>
						</tr>
						<tr id="row2">
							<td id="dayrow1">1</td>
							<td id="videosrow1">Video 2</td>
							<td id="durationrow1">00:40</td>
							<td id="taskrow1">Create Get name & Address</td>
							<td id="hoursrow1">01:00</td>
							<td id="cumulativedurationrow1">03:00</td>
							<td>
								<input type="checkbox" value="">
							</td>
						</tr>
						<tr id="row3">
							<td id="dayrow1">2</td>
							<td id="videosrow1">Video 1</td>
							<td id="durationrow1">01:05</td>
							<td id="taskrow1">Create a Hello World App</td>
							<td id="hoursrow1">02:00</td>
							<td id="cumulativedurationrow1">03:05</td>
							<td>
								<input type="checkbox" value="">
							</td>
						</tr>
						<tr id="row4">
							<td id="dayrow1">1</td>
							<td id="videosrow1">Video 1</td>
							<td id="durationrow1">00:20</td>
							<td id="taskrow1">Create a Hello World App</td>
							<td id="hoursrow1">01:00</td>
							<td id="cumulativedurationrow1">01:20</td>
							<td>
								<input type="checkbox" value="">
							</td>
						</tr>
						<tr id="row5">
							<td id="dayrow1"></td>
							<td id="videosrow1"></td>
							<td id="durationrow1"></td>
							<td id="taskrow1"></td>
							<td id="hoursrow1"></td>
							<td id="cumulativedurationrow1"></td>
							<td>
								<input type="checkbox" value="">
							</td>
						</tr>
						<tr id="row6">
							<td id="dayrow1"></td>
							<td id="videosrow1"></td>
							<td id="durationrow1"></td>
							<td id="taskrow1"></td>
							<td id="hoursrow1"></td>
							<td id="cumulativedurationrow1"></td>
							<td>
								<input type="checkbox" value="">
							</td>
						</tr>

					</tbody>
				</table>			
		</div>
	</div>
</div>