<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <style>
      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      .legandText{
        font-weight: bold;
        font-size: 11pt;

      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }
    </style>
    <!-- <script src="https://d3js.org/d3.v3.js"></script> -->
  </head>
  <body>
    <h5 style="text-align: left;">Select Project</h5>
<div class="form-group">
<div class="col-md-4">
  
  
    <select class="form-control">
      <option selected>Synergy Dashboard</option>
      <option value="1">TEA 10 migration </option>
      <option value="2">RMS Application</option>      
    </select>
</div>

</div><br/><br/><br/>
    <h5 style="text-align: left;">Commit Activity</h5>
    <div id="chart"></div><br/>
    <h5 style="text-align: left;">Task Plan</h5>
    <img src = "components/employeecluster/gittask.png" style="height: 300px; width: 800px;" />
    </div>
    <script type="text/javascript">
      var margin = { top: 50, right: 0, bottom: 100, left: 60 },
          width = 860 - margin.left - margin.right,
          height = 250 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 31),
          legendElementWidth = gridSize*2,
          buckets = 9,
          colors = ["#ededed","rgb(127, 168, 201)","rgb(37, 78, 119)"]//,"#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"], // alternatively colorbrewer.YlGnBu[9]
          conditions = ["0", ">=1", ">5"];
          colorWithConditions = [{color:"#ededed", condition:"0"}, {color:"rgb(127, 168, 201)", condition:">=1"}, {color:"rgb(37, 78, 119)", condition:">5"}]
          months = ["May", "Apr", "Mar", "Feb", "Jan"],
          days = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27","28", "29","30","31"];
          

      var svg = d3.select("#chart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var dayLabels = svg.selectAll(".dayLabel")
          .data(months)
          .enter().append("text")
            .text(function (d) { return d; })
            .attr("x", 0)
            .attr("y", function (d, i) { return i * gridSize; })
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
            .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis axis-workweek"); });

      var timeLabels = svg.selectAll(".timeLabel")
          .data(days)
          .enter().append("text")
            .text(function(d) { return d; })
            .attr("x", function(d, i) { return i * gridSize; })
            .attr("y", 0)
            .style("text-anchor", "middle")
            .attr("transform", "translate(" + gridSize / 2 + ", -6)")
            .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis axis-worktime"); });


        function renderChart(data) {
        //   var colorScale = d3.scale.quantile()
        //       .domain([0, buckets - 1, d3.max(data, function (d) { return d.value; })])
        //       .range(colors);

          var cards = svg.selectAll(".day")
              .data(data, function(d) {return d.month+':'+d.day;});

          cards.append("title");

          cards.enter().append("rect")
              .attr("x", function(d) { return (d.day - 1) * gridSize; })
              .attr("y", function(d) { return (d.month - 1) * gridSize; })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("class", "day bordered")
              .attr("width", gridSize)
              .attr("height", gridSize)
              .attr("data-val", d => d.value)
              .style("fill", colorWithConditions[0].color)
              .append("title").text(d=>d.Date)

          cards.transition().duration(1000)
              .style("fill", function(d) { 
                if(d.value == 0){
                    return colorWithConditions[0].color;
                }
                else if(d.value >= 1 && d.value <= 5 ){
                    return colorWithConditions[1].color;
                }
                else if(d.value > 5){
                    return colorWithConditions[2].color;
                }
               });

          cards.select("title").text(function(d) { return d.value; });
          
          cards.exit().remove();

          var legend = svg.selectAll(".legend")
              .data(colorWithConditions);

          legend.enter().append("g")
              .attr("class", "legend");

          legend.append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height + 50)
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colorWithConditions[i].color; });

          legend.append("text")
            .attr("class", "mono")
            .attr("class", "legandText")
            .text(d=>d.condition)
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height + gridSize + 50);

          legend.exit().remove();

      
      }

    var dataset = [
  {
    "Date": "2020-05-31T00:00:00",
    "month": 1,
    "day": 31,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-30T00:00:00",
    "month": 1,
    "day": 30,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-29T00:00:00",
    "month": 1,
    "day": 29,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-28T00:00:00",
    "month": 1,
    "day": 28,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-27T00:00:00",
    "month": 1,
    "day": 27,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-26T00:00:00",
    "month": 1,
    "day": 26,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-25T00:00:00",
    "month": 1,
    "day": 25,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-24T00:00:00",
    "month": 1,
    "day": 24,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-23T00:00:00",
    "month": 1,
    "day": 23,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-22T00:00:00",
    "month": 1,
    "day": 22,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-21T00:00:00",
    "month": 1,
    "day": 21,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-20T00:00:00",
    "month": 1,
    "day": 20,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-19T00:00:00",
    "month": 1,
    "day": 19,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-18T00:00:00",
    "month": 1,
    "day": 18,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-17T00:00:00",
    "month": 1,
    "day": 17,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-16T00:00:00",
    "month": 1,
    "day": 16,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-15T00:00:00",
    "month": 1,
    "day": 15,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-14T00:00:00",
    "month": 1,
    "day": 14,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-13T00:00:00",
    "month": 1,
    "day": 13,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-12T00:00:00",
    "month": 1,
    "day": 12,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-11T00:00:00",
    "month": 1,
    "day": 11,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-10T00:00:00",
    "month": 1,
    "day": 10,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-09T00:00:00",
    "month": 1,
    "day": 9,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-08T00:00:00",
    "month": 1,
    "day": 8,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-07T00:00:00",
    "month": 1,
    "day": 7,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-06T00:00:00",
    "month": 1,
    "day": 6,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-05T00:00:00",
    "month": 1,
    "day": 5,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-04T00:00:00",
    "month": 1,
    "day": 4,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-03T00:00:00",
    "month": 1,
    "day": 3,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-02T00:00:00",
    "month": 1,
    "day": 2,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-05-01T00:00:00",
    "month": 1,
    "day": 1,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-30T00:00:00",
    "month": 2,
    "day": 30,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-29T00:00:00",
    "month": 2,
    "day": 29,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-28T00:00:00",
    "month": 2,
    "day": 28,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-04-27T00:00:00",
    "month": 2,
    "day": 27,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-04-26T00:00:00",
    "month": 2,
    "day": 26,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-25T00:00:00",
    "month": 2,
    "day": 25,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-04-24T00:00:00",
    "month": 2,
    "day": 24,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 8
  },
  {
    "Date": "2020-04-23T00:00:00",
    "month": 2,
    "day": 23,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-04-22T00:00:00",
    "month": 2,
    "day": 22,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-04-21T00:00:00",
    "month": 2,
    "day": 21,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-04-20T00:00:00",
    "month": 2,
    "day": 20,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-04-19T00:00:00",
    "month": 2,
    "day": 19,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-18T00:00:00",
    "month": 2,
    "day": 18,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-17T00:00:00",
    "month": 2,
    "day": 17,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-04-16T00:00:00",
    "month": 2,
    "day": 16,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-15T00:00:00",
    "month": 2,
    "day": 15,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 4
  },
  {
    "Date": "2020-04-14T00:00:00",
    "month": 2,
    "day": 14,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-04-13T00:00:00",
    "month": 2,
    "day": 13,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-04-12T00:00:00",
    "month": 2,
    "day": 12,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-11T00:00:00",
    "month": 2,
    "day": 11,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-10T00:00:00",
    "month": 2,
    "day": 10,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-09T00:00:00",
    "month": 2,
    "day": 9,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-04-08T00:00:00",
    "month": 2,
    "day": 8,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 3
  },
  {
    "Date": "2020-04-07T00:00:00",
    "month": 2,
    "day": 7,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-04-06T00:00:00",
    "month": 2,
    "day": 6,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-04-05T00:00:00",
    "month": 2,
    "day": 5,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-04-04T00:00:00",
    "month": 2,
    "day": 4,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 4
  },
  {
    "Date": "2020-04-03T00:00:00",
    "month": 2,
    "day": 3,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-04-02T00:00:00",
    "month": 2,
    "day": 2,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-04-01T00:00:00",
    "month": 2,
    "day": 1,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-03-31T00:00:00",
    "month": 3,
    "day": 31,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-30T00:00:00",
    "month": 3,
    "day": 30,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 4
  },
  {
    "Date": "2020-03-29T00:00:00",
    "month": 3,
    "day": 29,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-28T00:00:00",
    "month": 3,
    "day": 28,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-27T00:00:00",
    "month": 3,
    "day": 27,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-26T00:00:00",
    "month": 3,
    "day": 26,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 4
  },
  {
    "Date": "2020-03-25T00:00:00",
    "month": 3,
    "day": 25,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 3
  },
  {
    "Date": "2020-03-24T00:00:00",
    "month": 3,
    "day": 24,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-03-23T00:00:00",
    "month": 3,
    "day": 23,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-22T00:00:00",
    "month": 3,
    "day": 22,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-21T00:00:00",
    "month": 3,
    "day": 21,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-20T00:00:00",
    "month": 3,
    "day": 20,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-19T00:00:00",
    "month": 3,
    "day": 19,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-03-18T00:00:00",
    "month": 3,
    "day": 18,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-03-17T00:00:00",
    "month": 3,
    "day": 17,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-16T00:00:00",
    "month": 3,
    "day": 16,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-15T00:00:00",
    "month": 3,
    "day": 15,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-14T00:00:00",
    "month": 3,
    "day": 14,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-13T00:00:00",
    "month": 3,
    "day": 13,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-12T00:00:00",
    "month": 3,
    "day": 12,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-03-11T00:00:00",
    "month": 3,
    "day": 11,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-03-10T00:00:00",
    "month": 3,
    "day": 10,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 3
  },
  {
    "Date": "2020-03-09T00:00:00",
    "month": 3,
    "day": 9,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-08T00:00:00",
    "month": 3,
    "day": 8,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-07T00:00:00",
    "month": 3,
    "day": 7,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-06T00:00:00",
    "month": 3,
    "day": 6,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-05T00:00:00",
    "month": 3,
    "day": 5,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-03-04T00:00:00",
    "month": 3,
    "day": 4,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-03-03T00:00:00",
    "month": 3,
    "day": 3,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-03-02T00:00:00",
    "month": 3,
    "day": 2,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-03-01T00:00:00",
    "month": 3,
    "day": 1,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-29T00:00:00",
    "month": 4,
    "day": 29,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-28T00:00:00",
    "month": 4,
    "day": 28,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-27T00:00:00",
    "month": 4,
    "day": 27,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-02-26T00:00:00",
    "month": 4,
    "day": 26,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-02-25T00:00:00",
    "month": 4,
    "day": 25,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-24T00:00:00",
    "month": 4,
    "day": 24,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-02-23T00:00:00",
    "month": 4,
    "day": 23,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-22T00:00:00",
    "month": 4,
    "day": 22,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-21T00:00:00",
    "month": 4,
    "day": 21,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-20T00:00:00",
    "month": 4,
    "day": 20,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-19T00:00:00",
    "month": 4,
    "day": 19,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-18T00:00:00",
    "month": 4,
    "day": 18,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-17T00:00:00",
    "month": 4,
    "day": 17,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-16T00:00:00",
    "month": 4,
    "day": 16,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-15T00:00:00",
    "month": 4,
    "day": 15,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 8
  },
  {
    "Date": "2020-02-14T00:00:00",
    "month": 4,
    "day": 14,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-13T00:00:00",
    "month": 4,
    "day": 13,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 2
  },
  {
    "Date": "2020-02-12T00:00:00",
    "month": 4,
    "day": 12,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-02-11T00:00:00",
    "month": 4,
    "day": 11,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-10T00:00:00",
    "month": 4,
    "day": 10,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-02-09T00:00:00",
    "month": 4,
    "day": 9,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-08T00:00:00",
    "month": 4,
    "day": 8,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-07T00:00:00",
    "month": 4,
    "day": 7,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-02-06T00:00:00",
    "month": 4,
    "day": 6,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-05T00:00:00",
    "month": 4,
    "day": 5,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-04T00:00:00",
    "month": 4,
    "day": 4,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-03T00:00:00",
    "month": 4,
    "day": 3,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-02T00:00:00",
    "month": 4,
    "day": 2,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-02-01T00:00:00",
    "month": 4,
    "day": 1,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-31T00:00:00",
    "month": 5,
    "day": 31,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-30T00:00:00",
    "month": 5,
    "day": 30,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-29T00:00:00",
    "month": 5,
    "day": 29,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-28T00:00:00",
    "month": 5,
    "day": 28,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-01-27T00:00:00",
    "month": 5,
    "day": 27,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-26T00:00:00",
    "month": 5,
    "day": 26,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-25T00:00:00",
    "month": 5,
    "day": 25,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-24T00:00:00",
    "month": 5,
    "day": 24,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-23T00:00:00",
    "month": 5,
    "day": 23,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-22T00:00:00",
    "month": 5,
    "day": 22,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 4
  },
  {
    "Date": "2020-01-21T00:00:00",
    "month": 5,
    "day": 21,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-20T00:00:00",
    "month": 5,
    "day": 20,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-19T00:00:00",
    "month": 5,
    "day": 19,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-18T00:00:00",
    "month": 5,
    "day": 18,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-17T00:00:00",
    "month": 5,
    "day": 17,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-16T00:00:00",
    "month": 5,
    "day": 16,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-15T00:00:00",
    "month": 5,
    "day": 15,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-14T00:00:00",
    "month": 5,
    "day": 14,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-13T00:00:00",
    "month": 5,
    "day": 13,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-12T00:00:00",
    "month": 5,
    "day": 12,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-11T00:00:00",
    "month": 5,
    "day": 11,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-10T00:00:00",
    "month": 5,
    "day": 10,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-01-09T00:00:00",
    "month": 5,
    "day": 9,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-08T00:00:00",
    "month": 5,
    "day": 8,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-07T00:00:00",
    "month": 5,
    "day": 7,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-06T00:00:00",
    "month": 5,
    "day": 6,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-05T00:00:00",
    "month": 5,
    "day": 5,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-04T00:00:00",
    "month": 5,
    "day": 4,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-03T00:00:00",
    "month": 5,
    "day": 3,
    "ProjectName": "SynergyDashboard",
    "ProjectUser": "Saravana",
    "value": 1
  },
  {
    "Date": "2020-01-02T00:00:00",
    "month": 5,
    "day": 2,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  },
  {
    "Date": "2020-01-01T00:00:00",
    "month": 5,
    "day": 1,
    "ProjectName": null,
    "ProjectUser": null,
    "value": 0
  }
]

    renderChart(dataset);
      
   
    </script>
  </body>
</html>