<link href="/SynergyDashboardUI/components/rrmdashboard/rrmdashboard.css" rel="stylesheet" />

<style>
  .cardSummaryDashBoard{
    display: flex;
    margin-left: 20px;
}

.cardSummaryDashBoard .item{
    padding-left:3px;
    padding-right:3px;
}

.cardSummaryDashBoard .item-card{
    transition: 0.5s;
    cursor: pointer;
    width: 170px;
    padding: 2px 6px;
    background-color: gainsboro;
    border-radius: 10px;
}

.cardSummaryDashBoard .item-card h2{
    margin-top: 0px !important;
    font-size: 12px;
}

.cardSummaryDashBoard .item-card h5{
    font-size: 12px;
    text-align: center;
    color:white;
}

.cardSummaryDashBoard .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    cursor: pointer;
}

.cardSummaryDashBoard .card-text{
    height:60px;  
}

.cardSummaryDashBoard .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.cardSummaryDashBoard .dashboardSummary{
    background-color: #3AAEA9;
}
.dashboardChartCard{
    border-radius: 12px;
}
</style>

<div class="row" style="display: flex;">
  <div class="cardSummaryDashBoard" id="dashboardSummaryChart">
    <div class="item">
      <div class="card item-card card-block dashboardSummary">
        <h5 class="mt-3 mb-3"><b>SUMMARY</b></h5>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-md-12">
  <div id="rrmDashBoardRecruitersChip">

  </div>
  <br>
  <br>
</div>
<br>
<br>
<!-- <div class="row">
  <div class=" ">
  <div class="col-md-6">
      <div id="rrmdashboard_GetRecruitersCountInRRM"></div>
  </div>
  <div class="col-md-6">
    
</div>
</div>
</div> -->
<div class="row divDashboardChart">
  <div class="col-md-12">
    <div class="col-md-6 item">
      <div class="card item-card card-block dashboardChartCard">
        <div id="rrmdashboard_MappedRRMOnRecruiter"></div>
      </div>
    </div>
    <div class="col-md-6 item">
      <div class="card item-card card-block dashboardChartCard">
        <div id="rrmdashboard_InterviewsRRMOnRecruiter"></div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row divDashboardChart">
  <div class="col-md-12">
    <div class="col-md-6 item">
      <div class="card item-card card-block dashboardChartCard">
        <div id="rrmdashboard_ProfilesRRMOnRecruiter"></div>
      </div>
    </div>
    <div class="col-md-6 item">
      <div class="card item-card card-block dashboardChartCard">
        <div id="rrmdashboard_OfferDispatchedRRMOnRecruiter"></div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row divDashboardChart">
  <div class="col-md-12">
    <div class="item">
      <div class="card item-card card-block dashboardChartCard">
        <div id="rrmdashboard_InterviewsRRMOnInterviewers"></div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row divDashboardGridDetails">
  <div class="col-md-12">
    <div class="col-md-6">
      <label class="rrmdashboardCommonLabel hidden">Mapped RRM</label>
      <div id="rrmdashboard_MappedRRM"></div>
    </div>
    <div class="col-md-6">
      <label class="rrmdashboardCommonLabel hidden">RRM Profiles</label>
      <div id="rrmdashboard_ProfilesRRM"></div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row divDashboardGridDetails">
  <div class="col-md-12">
    <div class="col-md-6">
      <label class="rrmdashboardCommonLabel hidden">Interviews</label>
      <div id="rrmdashboard_InterviewsScheduledRRM"></div>
    </div>
    <div class="col-md-6">
      <label class="rrmdashboardCommonLabel hidden">Offer Dispatch</label>
      <div id="rrmdashboard_OffersDispatchedRRM"></div>
    </div>
  </div>
</div>
<script>
  loadRecruitersDashBoard();
  $(".rrmdashboardCommonLabel").addClass("hidden");
  var dates = new Date();
  var fromDates = dates.toISOString().slice(0, 10);
  var toDates = dates.toISOString().slice(0, 10);
  var filterData = JSON.stringify({
    "FromDate": fromDates,
    "ToDate": toDates
  });

  callGetListSync('GetRecruitersCountInRRM', filterData, function (e) {
    $("#rrmdashboard_GetRecruitersCountInRRM").dxPieChart({
      palette: "Harmony Light",
      dataSource: e,
      series: [
        {
          argumentField: "Recruiter",
          valueField: "RecruiterCount",
          label: {
            visible: true,
            connector: {
              visible: true,
              width: 1,
            },
          },
        },
      ],
      title: "RRM Count",
      export: {
        enabled: true,
      },

    });
  })

  var date = new Date();
  var fromDate = date.toISOString().slice(0, 10);
  var toDate = date.toISOString().slice(0, 10);
  var filterData = JSON.stringify({
    "FromDate": fromDate,
    "ToDate": toDate
  });

  callGetListSync('GetCurrentWeekInterviewCount', filterData, function (e) {
    $("#rrmdashboard_GetCurrentWeekInterviewCount").dxChart({
      dataSource: e,
      series: {
        argumentField: "InterviewDate",
        valueField: "NumberOfInterviews",
        name: "Interviews",
        type: "bar",
        color: '#ffaa66'
      },
      size: {
        width: 950
      },
      argumentAxis: {

        label: {
          format: "shortDate"
        }
      }
    });
  })

  function loadRecruitersDashBoard() {
    var recruitersList = [];

    var filterData = JSON.stringify({
      "Token": Token,
      "IsActive": "True"
    });

    callGetListSync('GetHRForRRMDashBoard', filterData, function (e) {
      recruitersList = e;
    });

    var html = ""

    if (recruitersList.length != 0) {
      $.each(recruitersList, function (key, item) {
        html += `
            <div class='chip pill-capsule rrmdashBoardRecruiter' data-employeeid ="${item.EmployeeId}">
                <div class='pill-pic'><img src='components/rrminterviewschedule/images/interviewicon.png' alt='Person'></div> 
                <div class="pill-text">${item.EmployeeName}</div>
            </div>
              `
      });
    }
    $("#rrmDashBoardRecruitersChip").html(html);
  }

  $(document).on("click", ".rrmdashBoardRecruiter", function (e) {
    var recruiterId = $(e.currentTarget).data("employeeid");
    if ($(".rrmdashboardCommonLabel").hasClass("hidden")) {
      $(".rrmdashboardCommonLabel").removeClass("hidden");
    }

    var fromDate = $("#rrm_dashboard_fromDate").dxDateBox("instance").option("value");
    fromDate = fromDate.toISOString().slice(0, 10);
    var toDate = $("#rrm_dashboard_toDate").dxDateBox("instance").option("value");
    $(".divDashboardChart").hide();
    $(".divDashboardGridDetails").show();

    loadMappedRRMDashboard(recruiterId, fromDate, toDate);
    loadProfilesRRMDashBoard(recruiterId, fromDate, toDate);
    loadInterviewsScheduledRRMDashBoard(recruiterId, fromDate, toDate);
    loadOffersDispatchRRMDashBoard(recruiterId, fromDate, toDate);
  });

  function loadMappedRRMDashboard(recruiterId, fromDate, toDate) {

    var mappedRRM = [];

    var filterData = JSON.stringify({
      "Token": Token,
      "RecruiterId": recruiterId,
      "FromDate": fromDate,
      "ToDate": toDate,
      "IsActive": "True"
    });

    callGetListSync('GetMappedRRMBasedOnRecruiter', filterData, function (e) {
      mappedRRM = e;
    });

    var rrm = $("#rrmdashboard_MappedRRM").dxDataGrid({
      dataSource: mappedRRM,
      filterRow: {
        visible: true,
        applyFilter: "auto",
      },
      repaintChangesOnly: true,
      highlightChanges: true,
      export: {
        enabled: true,
        allowExportSelectedData: false,
      },
      searchPanel: {
        visible: true,
        width: 240,
        placeholder: "Search...",
      },
      headerFilter: {
        visible: true,
      },
      filterPanel: { visible: true },
      allowColumnReordering: true,
      showBorders: true,
      columnAutoWidth: true,
      grouping: {
        autoExpandAll: true,
      },
      pager: {
        showPageSizeSelector: true,
        allowedPageSizes: [5, 10, 20],
        showInfo: true,
      },
      paging: {
        pageSize: 10,
      },
      groupPanel: {
        visible: true,
        emptyPanelText: "Drag a column",
      },
      sorting: {
        mode: "multiple",
      },
      summary: {
        totalItems: [{
          column: "RRMNo",
          summaryType: "count"
        }
        ],
        groupItems: [{
          column: "RRMNo",
          summaryType: "count"
        }]
      },
      columnChooser: {
        enabled: true,
        mode: "select"
      },
      onExporting: function (e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet("RRM DashBoard");

        DevExpress.excelExporter
          .exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true,
            customizeCell: function (options) {
              var gridCell = options.gridCell;
              var excelCell = options.excelCell;
              if (!gridCell) {
                return;
              }
              if (gridCell.rowType === "header") {
                excelCell.font = { color: { argb: 'FFFFFF' } };
                excelCell.fill = { type: "pattern", pattern: "solid", fgColor: { argb: "757171" }, bgColor: { argb: "757171" } };
                excelCell.alignment = { horizontal: 'left' };
              }
            }
          })
          .then(function (dataGridRange) {
            setBorders(worksheet, dataGridRange);
            return Promise.resolve();
          }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
              saveAs(
                new Blob([buffer], { type: "application/octet-stream" }),
                "RRMDashboardRRM.xlsx"
              );
            });
          });
        e.cancel = true;
      },
      rowAlternationEnabled: true,
      filterPanel: { visible: true },
      allowColumnReordering: true,
      allowColumnResizing: true,
      showBorders: true,
      columns: [
        {
          dataField: "RRMNo",
          caption: "RRM No",
        },
        {
          dataField: "Recruiter",
          caption: "Recruiter"

        },
        {
          dataField: "RequirementName",
          caption: "Requirement Name"

        },
        {
          dataField: "ExperiencerequiredInYrs",
          caption: "Experience In Years",
          visible: false
        },
        {
          dataField: "Required",
          caption: "Required",
          visible: false
        },
        {
          dataField: "Communication",
          caption: "Communication"
        },
        {
          dataField: "Department",
          caption: "Department",
          visible: false

        },
        {
          dataField: "JoiningDate",
          caption: "Joining Date",
          dataType: "date",
          format: "dd-MMM-yyyy",
          allowFiltering: true,
          visible: false
        },
        {
          dataField: "Designation",
          caption: "Designation",
          visible: false
        },
        {
          dataField: "Status",
          caption: "Status"
        }
      ]
    }).dxDataGrid("instance");

  }

  function loadProfilesRRMDashBoard(recruiterId, fromDate, toDate) {

    var profilesRRM = [];

    var filterData = JSON.stringify({
      "Token": Token,
      "RecruiterId": recruiterId,
      "FromDate": fromDate,
      "ToDate": toDate,
      "IsActive": "True"
    });

    callGetListSync('GetCandidatesProfileBasedOnRRM', filterData, function (e) {
      profilesRRM = e;
    });

    var rrm = $("#rrmdashboard_ProfilesRRM").dxDataGrid({
      dataSource: profilesRRM,
      filterRow: {
        visible: true,
        applyFilter: "auto",
      },
      repaintChangesOnly: true,
      highlightChanges: true,
      export: {
        enabled: true,
        allowExportSelectedData: false,
      },
      searchPanel: {
        visible: true,
        width: 240,
        placeholder: "Search...",
      },
      headerFilter: {
        visible: true,
      },
      filterPanel: { visible: true },
      allowColumnReordering: true,
      showBorders: true,
      columnAutoWidth: true,
      grouping: {
        autoExpandAll: true,
      },
      pager: {
        showPageSizeSelector: true,
        allowedPageSizes: [5, 10, 20],
        showInfo: true,
      },
      paging: {
        pageSize: 10,
      },
      groupPanel: {
        visible: true,
        emptyPanelText: "Drag a column",
      },
      sorting: {
        mode: "multiple",
      },
      summary: {
        totalItems: [{
          column: "CandidateName",
          summaryType: "count"
        }
        ],
        groupItems: [{
          column: "CandidateName",
          summaryType: "count"
        }]
      },
      columnChooser: {
        enabled: true,
        mode: "select"
      },
      onExporting: function (e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet("RRM DashBoard");

        DevExpress.excelExporter
          .exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true,
            customizeCell: function (options) {
              var gridCell = options.gridCell;
              var excelCell = options.excelCell;
              if (!gridCell) {
                return;
              }
              if (gridCell.rowType === "header") {
                excelCell.font = { color: { argb: 'FFFFFF' } };
                excelCell.fill = { type: "pattern", pattern: "solid", fgColor: { argb: "757171" }, bgColor: { argb: "757171" } };
                excelCell.alignment = { horizontal: 'left' };
              }
            }
          })
          .then(function (dataGridRange) {
            setBorders(worksheet, dataGridRange);
            return Promise.resolve();
          }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
              saveAs(
                new Blob([buffer], { type: "application/octet-stream" }),
                "RRMDashboardRRM.xlsx"
              );
            });
          });
        e.cancel = true;
      },
      rowAlternationEnabled: true,
      filterPanel: { visible: true },
      allowColumnReordering: true,
      allowColumnResizing: true,
      showBorders: true,
      columns: [
        {
          dataField: "CandidateName",
          caption: "Candidate Name",
        },
        {
          dataField: "Aadhar",
          caption: "Aadhar",
          visible: false
        },
        {
          dataField: "Mobile",
          caption: "Mobile"

        },
        {
          dataField: "EmailId",
          caption: "Email Id",
          visible: true
        },
        {
          dataField: "PassPortNo",
          caption: "PassPort No",
          visible: false
        },
        {
          dataField: "PANNo",
          caption: "PAN No",
          visible: false
        },
        {
          dataField: "Native",
          caption: "Native",
          visible: false

        },
        {
          dataField: "Recruiter",
          caption: "Recruiter"
        }
      ]
    }).dxDataGrid("instance");
  }

  function loadInterviewsScheduledRRMDashBoard(recruiterId, fromDate, toDate) {

    var interviewsRRM = [];

    var filterData = JSON.stringify({
      "Token": Token,
      "RecruiterId": recruiterId,
      "FromDate": fromDate,
      "ToDate": toDate,
      "IsActive": "True"
    });

    callGetListSync('GetInterviewsScheduledBasedOnRecruiter', filterData, function (e) {
      interviewsRRM = e;
    });

    var rrm = $("#rrmdashboard_InterviewsScheduledRRM").dxDataGrid({
      dataSource: interviewsRRM,
      filterRow: {
        visible: true,
        applyFilter: "auto",
      },
      repaintChangesOnly: true,
      highlightChanges: true,
      export: {
        enabled: true,
        allowExportSelectedData: false,
      },
      searchPanel: {
        visible: true,
        width: 240,
        placeholder: "Search...",
      },
      headerFilter: {
        visible: true,
      },
      filterPanel: { visible: true },
      allowColumnReordering: true,
      showBorders: true,
      columnAutoWidth: true,
      grouping: {
        autoExpandAll: true,
      },
      pager: {
        showPageSizeSelector: true,
        allowedPageSizes: [5, 10, 20],
        showInfo: true,
      },
      paging: {
        pageSize: 10,
      },
      groupPanel: {
        visible: true,
        emptyPanelText: "Drag a column",
      },
      sorting: {
        mode: "multiple",
      },
      summary: {
        totalItems: [{
          column: "InterviewType",
          summaryType: "count"
        }
        ],
        groupItems: [{
          column: "InterviewType",
          summaryType: "count"
        }]
      },
      columnChooser: {
        enabled: true,
        mode: "select"
      },
      onExporting: function (e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet("RRM DashBoard");

        DevExpress.excelExporter
          .exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true,
            customizeCell: function (options) {
              var gridCell = options.gridCell;
              var excelCell = options.excelCell;
              if (!gridCell) {
                return;
              }
              if (gridCell.rowType === "header") {
                excelCell.font = { color: { argb: 'FFFFFF' } };
                excelCell.fill = { type: "pattern", pattern: "solid", fgColor: { argb: "757171" }, bgColor: { argb: "757171" } };
                excelCell.alignment = { horizontal: 'left' };
              }
            }
          })
          .then(function (dataGridRange) {
            setBorders(worksheet, dataGridRange);
            return Promise.resolve();
          }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
              saveAs(
                new Blob([buffer], { type: "application/octet-stream" }),
                "RRMDashboardRRM.xlsx"
              );
            });
          });
        e.cancel = true;
      },
      rowAlternationEnabled: true,
      filterPanel: { visible: true },
      allowColumnReordering: true,
      allowColumnResizing: true,
      showBorders: true,
      columns: [
        {
          dataField: "InterviewType",
          caption: "Interview Type",
        },
        {
          dataField: "ModeName",
          caption: "Interview Mode",
          visible: true
        },
        {
          dataField: "StatusName",
          caption: "Status"

        },
        {
          dataField: "Recruiter",
          caption: "Recruiter",
          visible: true
        },
        {
          dataField: "InterviewDate",
          caption: "Interview Date",
          dataType: "date",
          format: "dd-MMM-yyyy",
          visible: true
        },
        {
          dataField: "InterviewTime",
          caption: "Interview Time",
          visible: true
        },
        {
          dataField: "InterviewDetails",
          caption: "Interview Details",
          visible: false

        }
      ]
    }).dxDataGrid("instance");
  }

  function loadOffersDispatchRRMDashBoard(recruiterId, fromDate, toDate) {
    var offersDispatchRRM = [];

    var filterData = JSON.stringify({
      "Token": Token,
      "RecruiterId": recruiterId,
      "FromDate": fromDate,
      "ToDate": toDate,
      "IsActive": "True"
    });

    callGetListSync('GetOffersDispatchBasedOnRecruiter', filterData, function (e) {
      offersDispatchRRM = e;
    });

    var rrm = $("#rrmdashboard_OffersDispatchedRRM").dxDataGrid({
      dataSource: offersDispatchRRM,
      filterRow: {
        visible: true,
        applyFilter: "auto",
      },
      repaintChangesOnly: true,
      highlightChanges: true,
      export: {
        enabled: true,
        allowExportSelectedData: false,
      },
      searchPanel: {
        visible: true,
        width: 240,
        placeholder: "Search...",
      },
      headerFilter: {
        visible: true,
      },
      filterPanel: { visible: true },
      allowColumnReordering: true,
      showBorders: true,
      columnAutoWidth: true,
      grouping: {
        autoExpandAll: true,
      },
      pager: {
        showPageSizeSelector: true,
        allowedPageSizes: [5, 10, 20],
        showInfo: true,
      },
      paging: {
        pageSize: 10,
      },
      groupPanel: {
        visible: true,
        emptyPanelText: "Drag a column",
      },
      sorting: {
        mode: "multiple",
      },
      summary: {
        totalItems: [{
          column: "CandidateName",
          summaryType: "count"
        }
        ],
        groupItems: [{
          column: "CandidateName",
          summaryType: "count"
        }]
      },
      columnChooser: {
        enabled: true,
        mode: "select"
      },
      onExporting: function (e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet("RRM DashBoard");

        DevExpress.excelExporter
          .exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true,
            customizeCell: function (options) {
              var gridCell = options.gridCell;
              var excelCell = options.excelCell;
              if (!gridCell) {
                return;
              }
              if (gridCell.rowType === "header") {
                excelCell.font = { color: { argb: 'FFFFFF' } };
                excelCell.fill = { type: "pattern", pattern: "solid", fgColor: { argb: "757171" }, bgColor: { argb: "757171" } };
                excelCell.alignment = { horizontal: 'left' };
              }
            }
          })
          .then(function (dataGridRange) {
            setBorders(worksheet, dataGridRange);
            return Promise.resolve();
          }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
              saveAs(
                new Blob([buffer], { type: "application/octet-stream" }),
                "RRMDashboardRRM.xlsx"
              );
            });
          });
        e.cancel = true;
      },
      rowAlternationEnabled: true,
      filterPanel: { visible: true },
      allowColumnReordering: true,
      allowColumnResizing: true,
      showBorders: true,
      columns: [
        {
          dataField: "CandidateName",
          caption: "Candidate Name",
        },
        {
          dataField: "RRMNo",
          caption: "RRM No",
          visible: true
        },
        {
          dataField: "RequirementName",
          caption: "Requirement Name"

        },
        {
          dataField: "Recruiter",
          caption: "Recruiter",
          visible: true
        },
        {
          dataField: "ExpectedJoiningDate",
          caption: "Joining Date",
          dataType: "date",
          format: "dd-MMM-yyyy",
          visible: true
        },
        {
          dataField: "IsApprovedByHead",
          caption: "Approved By Head",
          visible: true,
          cellTemplate: function (container, options) {
            var domActions = "";
            if (options.data.IsApprovedByHead == 2) {
              domActions += "<label class='label label-success m-l-sm'>Yes</label>"
            }
            else {
              domActions += "<label class='label label-warning m-l-sm'>No</label>"
            }
            $("<div>").append($(domActions)).appendTo(container);
          }
        },
        {
          dataField: "IsConsultant",
          caption: "Is Consultant",
          cellTemplate: function (container, options) {
            var domActions = "";
            if (options.data.IsConsultant == true) {
              domActions += "<label class='label label-success m-l-sm'>Yes</label>"
            }
            else {
              domActions += "<label class='label label-warning m-l-sm'>No</label>"
            }
            $("<div>").append($(domActions)).appendTo(container);
          }
        }
      ]
    }).dxDataGrid("instance");
  }

  $(document).on("click", "#dashboardSummaryChart", function (e) {

    var fromDate = $("#rrm_dashboard_fromDate").dxDateBox("instance").option("value");
    fromDate = fromDate.toISOString().slice(0, 10);
    var toDate = $("#rrm_dashboard_toDate").dxDateBox("instance").option("value");

    $(".divDashboardGridDetails").hide();
    $(".divDashboardChart").show();

    loadMappedRRMChart(fromDate, toDate);
    loadInterviewsRRMChart(fromDate, toDate);
    loadProfilesRRMChart(fromDate, toDate);
    loadOfferDispatchRRMChart(fromDate,toDate);
    loadInterviewersRRMChart(fromDate,toDate);
  });

  function loadMappedRRMChart(fromDate, toDate) {

    var filterData = JSON.stringify({
      "Token": Token,
      "FromDate": fromDate,
      "ToDate": toDate,
      "IsActive": true
    });
    callGetListAsync('GetMappedRRMCountBasedOnRecruiters', filterData, function (e) {
      
      $('#rrmdashboard_MappedRRMOnRecruiter').dxPieChart({
        palette: 'Green Mist',
        dataSource: e,
        animation: {
         enabled: false,
        },
        resolveLabelOverlapping: 'shift',
        title: 'No. of RRMs',
        legend: {
          orientation: 'horizontal',
          itemTextPosition: 'right',
          horizontalAlignment: 'center',
          verticalAlignment: 'bottom',
          columnCount: 4,
          visible: true
        },
        export: {
          enabled: false,
        },
        series: [{
          argumentField: 'Recruiter',
          valueField: 'RRM',
          label: {
            visible: true,
            font: {
              size: 13,
            },
            connector: {
              visible: true,
              width: 0.5,
            },
            position: 'columns',
            customizeText(arg) {

              return `${arg.argumentText} - (${arg.valueText})`;

            },
          },
        }],
      });
    });
  }

function loadInterviewsRRMChart(fromDate, toDate){
  var filterData = JSON.stringify({
      "Token": Token,
      "FromDate": fromDate,
      "ToDate": toDate,
      "IsActive": true
    });
    callGetListAsync('GetInterviewCountOnRecruiters', filterData, function (e) {
      
      $('#rrmdashboard_InterviewsRRMOnRecruiter').dxPieChart({
        palette: 'Material',
        dataSource: e,
        title: 'No. of Interviews',
        animation: {
         enabled: false,
        },
        resolveLabelOverlapping: 'shift',
        legend: {
          orientation: 'horizontal',
          itemTextPosition: 'right',
          horizontalAlignment: 'center',
          verticalAlignment: 'bottom',
          columnCount: 4,
          visible: true
        },
        export: {
          enabled: false,
        },
        series: [{
          argumentField: 'Recruiter',
          valueField: 'RRMCount',
          label: {
            visible: true,
            font: {
              size: 13,
            },
            connector: {
              visible: true,
              width: 0.5,
            },
            position: 'columns',
            customizeText(arg) {

              return `${arg.argumentText} - (${arg.valueText})`;

            },
          },
        }],
      });
    });
}

function loadProfilesRRMChart(fromDate, toDate){
  
  var filterData = JSON.stringify({
      "Token": Token,
      "FromDate": fromDate,
      "ToDate": toDate,
      "IsActive": true
    });
    callGetListAsync('GetProfileCountOnRecruiters', filterData, function (e) {
      
      $('#rrmdashboard_ProfilesRRMOnRecruiter').dxPieChart({
        palette: 'Ocean',
        dataSource: e,
        title: 'No. of Profiles',
        animation: {
         enabled: false,
        },
        resolveLabelOverlapping: 'shift',
        legend: {
          orientation: 'horizontal',
          itemTextPosition: 'right',
          horizontalAlignment: 'center',
          verticalAlignment: 'bottom',
          columnCount: 4,
          visible: true
        },
        export: {
          enabled: false,
        },
        series: [{
          argumentField: 'Recruiter',
          valueField: 'ProfilesCount',
          label: {
            visible: true,
            font: {
              size: 13,
            },
            connector: {
              visible: true,
              width: 0.5,
            },
            position: 'columns',
            customizeText(arg) {

              return `${arg.argumentText} - (${arg.valueText})`;

            },
          },
        }],
      });
    });
}

function loadOfferDispatchRRMChart(fromDate, toDate){

  var filterData = JSON.stringify({
      "Token": Token,
      "FromDate": fromDate,
      "ToDate": toDate,
      "IsActive": true
    });
    callGetListAsync('GetOfferDispatchCountOnRecruiters', filterData, function (e) {
      
      $('#rrmdashboard_OfferDispatchedRRMOnRecruiter').dxPieChart({
        palette: 'Soft Pastel',
        dataSource: e,
        title: 'Offers Dispatch',
        animation: {
         enabled: false,
        },
        resolveLabelOverlapping: 'shift',
        legend: {
          orientation: 'horizontal',
          itemTextPosition: 'right',
          horizontalAlignment: 'center',
          verticalAlignment: 'bottom',
          columnCount: 4,
          visible: true
        },
        export: {
          enabled: false,
        },
        series: [{
          argumentField: 'Recruiter',
          valueField: 'OffersCount',
          label: {
            visible: true,
            font: {
              size: 13,
            },
            connector: {
              visible: true,
              width: 0.5,
            },
            position: 'columns',
            customizeText(arg) {

              return `${arg.argumentText} - (${arg.valueText})`;

            },
          },
        }],
      });
    });
}

function loadInterviewersRRMChart(fromDate, toDate){
  
  var filterData = JSON.stringify({
      "Token": Token,
      "FromDate": fromDate,
      "ToDate": toDate,
      "IsActive": true
    });
    callGetListAsync('GetInterviewCountOnInterviewers', filterData, function (e) {

      $('#rrmdashboard_InterviewsRRMOnInterviewers').dxChart({
        rotated: true,
        dataSource: e,
        title: 'Interviewers',
        resolveLabelOverlapping: 'shift',
        legend: {
          orientation: 'horizontal',
          itemTextPosition: 'right',
          horizontalAlignment: 'center',
          verticalAlignment: 'bottom',
          columnCount: 4,
          visible: false
        },
        export: {
          enabled: false,
        },
        series: [{
          argumentField: 'Interviewers',
          valueField: 'RRMCount',
          label: {
            visible: true,
            backgroundColor: '#c18e92',
            font: {
              size: 10,
            },
            connector: {
              visible: true,
              width: 0.3,
            },
            position: 'columns',
            customizeText(arg) {

              return `${arg.argumentText} - (${arg.valueText})`;

            },
          },
          color: '#79cac4',
          type: 'bar',
          valueAxis: {
          tick: {
            visible: false,
          },
          label: {
            visible: false,
          },
        },
        }],
      });
    });
}
</script>