<div class="row">
    <div class="col-md-12 actionForm" style="text-align: left;">
        <form id="addAnActionForm" method="post" role="form">
            <div class="col-md-12" id="supportToHR-edit">
                <label>Type</label>
                <div>
                    <select class="form-control supportToHRList" id="Support_to_HR_Team"
                        name="Support to HR Team" onchange="hrtype_OnChange(this);">

                    </select>
                </div>
                <label>To Whom</label>
                <div>
                    <select class="form-control supportToHRtowhom" id="Support_to_HR_person"
                        name="Support to HR Team" onchange="hrtype_OnChange(this);">

                    </select>
                </div>
                <label>Hours</label>
                <div>
                    <input class="form-control" id="HRHours" name="HRHours" placeholder="HR Hours"
                        type="number" oninput="validity.valid||(value='');" value="0" />
                </div>
            </div>

            <div id="detailsDiv-edit">
                <div class="col-md-12" id="commentsDiv">
                    <label>Comments</label>
                    <div>
                        <textarea class="form-control actionComment" cols="10" id="Comments"
                            name="Comments" placeholder="Comments" rows="3"></textarea>
                    </div>
                </div>
                
                <div class="col-md-12 text-left" id="sucess-response" style="color:green">

                </div>

                <div class="col-md-12 text-left" id="error-response" style="color:red">

                </div>

                <div class="col-md-12 text-center" id="form-btn">
                    <br />
                    <input type="reset" class="btn btn-danger clear-form" value="Clear" />
                    <input type="button" class="btn btn-success" value="Add" id="btn-SubmitAction"
                        onclick="return AddPostData();" />

                </div>
            </div>
        </form>
    </div>
    
</div>
