<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration page</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/font.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/jquery-1.9.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../js/library/modal-steps.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="assets/css/resetpassword.css">
</head>

<body>
    <!-- Top content -->
    <header>
        <a href="../../index.html"><img src="assets/img/logo.png"></a>
    </header>

    <div class="container1">
        <form role="form" action="" method="post" class="f1">

            <h3>Reset Password Section</h3>
            <div class="f1-steps">
                <div class="f1-progress">
                    <div class="f1-progress-line" data-now-value="60.66" data-number-of-steps="1" style="width: 100%;">
                    </div>
                </div>

                <div class="f1-step active">
                    <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                    <p>Change Password</p>
                </div>


            </div>

            <fieldset>

                <p id="password-caption"></p>

                <div class="form-group">
                    <label for="new_password" class="">New Password:</label>
                    <input type="password" id="reset_new_user_password" class="form-control" placeholder="">
                    <span style="color:blue;">Password must contain 8-15 characters, One Upper character, One lower
                        Charcter, Alphanumeric</span>
                </div>
                <div class="form-group">
                    <label for="confirm_password" class="">Confirm Password:</label>
                    <input type="password" id="reset_new_user_confirm_password" class="form-control" placeholder="">
                </div>
                <span id="confirm-password-error" style="font-weight: 700;color: red"></span>

                <div class="f1-buttons">
                    <button type="button" class="btn reset-password btn-success">Submit</button>
                </div>


            </fieldset>
        </form>
    </div>



    <!-- Javascript -->
    <script>
        $('.reset-password').on('click', function () {
            // var UserNewPassword = $("#reset_new_user_password").val();
            // var UserNewConfirmPassword = $("#reset_new_user_confirm_password").val();

            //var check_value = ["g2tech", "g2tech123", "India@123", "g2tech@123", "g2tech1234", "India@1234", "g2tech@1234"];

            //var isInArray = check_value.includes(UserNewPassword);
            readTextFile('../../files/password_validate.txt',function(password_data){
            var UserNewPassword = $("#reset_new_user_password").val();
            var UserNewConfirmPassword = $("#reset_new_user_confirm_password").val();
            let passwordArr = password_data.split(',');
                passwordArr = passwordArr.map(elem => {
                    return elem.trim();
                })
            var password_lowercase = UserNewPassword.toLowerCase();
            var firstFiveCharacter = password_lowercase.substring(0, 5);
            var common = false; 
            // if(firstFiveCharacter == "g2tec"){
            //     common = true;
            // } else if(firstFiveCharacter == "india"){
            //     common = true;
            // }
            var common = passwordArr.includes(UserNewPassword.trim())
            var error = 0;

            if (UserNewPassword == "" || UserNewConfirmPassword == "") {
                if (UserNewPassword == "") {
                    error++;
                    $('#confirm-password-error').html("Enter password");
                    $('#reset_new_user_password').addClass('input-error');
                }
                else if (UserNewConfirmPassword == "") {
                    error++;
                    $('#confirm-password-error').html("Enter confirm password");
                    $('#reset_new_user_confirm_password').addClass('input-error');
                }
            }
            else if (common) {
                error++;
                $('#confirm-password-error').html("The password you chose is too common. Please enter different/strong password.");
                $('#reset_new_user_password').addClass('input-error');
            }
            else if (UserNewPassword != "" && UserNewConfirmPassword != "") {    
                var allLetters = /[A-Z]/;
                var letter = /[a-zA-Z]/;
                var number = /[0-9]/;

                if (!letter.test(UserNewPassword)) {
                    error++;
                    $('#confirm-password-error').html("Password should contain atleast one string value");
                    $('#reset_new_user_password').addClass('input-error');
                }
                else if (!allLetters.test(UserNewPassword)) {
                    error++;
                    $('#confirm-password-error').html("Password should contain atleast one upper case");
                    $('#reset_new_user_password').addClass('input-error');
                }
                else if (!number.test(UserNewPassword)) {
                    error++;
                    $('#confirm-password-error').html("Password should contain numeric value");
                    $('#reset_new_user_password').addClass('input-error');
                }
                else if (UserNewPassword.length < 8 || UserNewPassword.length > 15) {
                    error++;
                    $('#confirm-password-error').html("Password should be in between 8 to 15 characters");
                    $('#reset_new_user_password').addClass('input-error');
                }
                else if (UserNewPassword == UserNewConfirmPassword) {
                    $('#confirm-password-error').html("");
                    $('#reset_new_user_password').removeClass('input-error');
                }
                else if (UserNewPassword != UserNewConfirmPassword) {
                    error++;
                    $('#confirm-password-error').html("Password doesn't match");
                    $('#reset_new_user_password').addClass('input-error');
                }
            }
            if (error > 0) {
                return false;
            } else {
                valid_reset_password();
                //return true;
            }
            });            
        }); 
    </script>

    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.backstretch.min.js"></script>
    <script src="assets/js/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="assets/js/crypto-js.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="../../js/callapi.js"></script>
    <script src="assets/js/forgetpassword.js"></script>

</body>

</html>