<!--<link href="components/rrmprofileentrypoint/css/rrmprofileentrypoint.css" rel="stylesheet" />-->
<!--script ref file-->
<script src="components/rrmprofileentrypoint/js/devextremescript.js"></script>
<script src='components/rrmprofileentrypoint/js/rrmProfileEntryGrid.js'></script>
<script src="components/rrmprofileentrypoint/js/addRRMProfileEntryPoint.js"></script>
<script src="components/rrmprofileentrypoint/js/editRRMProfileEntryPoint.js"></script>

<!--end here-->
<div class="rrm-card-detail-NewInterviewCard card-detail">
    <span><i><img src="./image/dashboard/rrm.png" width="40px" height="40px" /></i></span>
    <span class="card-detail-title"><b>RRM Profile Entry Point</b></span>
    <span class="pull-right">
        <button class="btn btn-sm" data-type="add" onclick="RRMProfileEntryPointTableModel(this);">
            <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp; New Profile
        </button>
    </span>
    <hr />

    <div id="RRMProfileEntryPointTableListDetails">
        <div id="rrmProfileGridReport"></div>
    </div>
    <div id="showbanmodal"></div>
</div>

<div id="rrmProfileEntryPointInterviewHistoryDiv">

</div>

<div id="skillsGridForExport" style="visibility: hidden;height: 0px;">

</div>

<div id="workHistoryGridForExport" style="visibility: hidden;height: 0px;">

</div>

<script type="text/javascript">
var candidateProfilesDataSourceForMentions = [];
    $(document).ready(function () {
        rendeRRMProfileEntryPointReportGrid();
        initializeRRMProfileEntryPoint();
    })
    var candidateIdForSkillAndWorkExperience;
    var addRRMProfileEntryPointJs;
    var editRRMProfileEntryPointJs;
    var CandidateId = null;
    var CandidateProfileId = "";
    var skillfamilydata = [];
    var maxdate;
    var skillGrade = [{
        "ID": "9D5255DE-0214-4EF1-A92C-D28096F737F0",
        "Name": "Primary"
    }, {
        "ID": "ED621B3E-659B-4C8A-9B81-C923720F8196",
        "Name": "Secondary"
    }, {
        "ID": "22A1A75C-735F-4876-9573-45BC3B817DC3",
        "Name": "Level 1"
    }, {
        "ID": "3450B0E6-751F-4B86-8E03-D94035E22D96",
        "Name": "Level 2"
    }, {
        "ID": "000F5386-FE1D-4C0B-AC55-4FEFD9ECC35F",
        "Name": "Level 3"
    },
    {
        "ID": "47B04B16-7C1D-40DA-8797-B6281EC88B28",
        "Name": "Level 4"
    },
    {
        "ID": "E87A1A4B-5B39-43B0-9AA6-081231233C8D",
        "Name": "Level 5"
        }];
    var maritalstatus = [];

    var skilldata = [];
    var version = []; 
    var getcities = [];
    var getcountry = [];
    var getstate = [];
    var flagreason = [];
    var Communication = [{
        "ID": 1,
        "Name": "Poor"
    }, {
        "ID": 2,
        "Name": "Average"
    }, {
        "ID": 3,
        "Name": "Good"
    }, {
        "ID": 4,
        "Name": "Very Good"
    }
    ];
    var willingtoreloaction = [{
        "ID": 1,
        "Name": "Yes"
    }, {
        "ID": 0,
        "Name": "No"
    }]
    $("#rrm_profileentrypointmodel").load("components/rrmprofileentrypoint/rrmProfileEntryPointModal.html");
    $("#rrmProfileEntryPointInterviewHistoryDiv").load("components/rrmprofileentrypoint/interviewHistoryProfileEntryPointModal.html")
    //$("#showbanmodal").load("components/rrmprofileentrypoint/rpmbanmodal.html");
    //set max date for datepicker
    maxdate = new Date();
    // subtract one day from specified time
    maxdate.setDate(maxdate.getDate() - 1);
    maxdate.toLocaleDateString();
    function RRMProfileEntryPointTableModel(e) {
        CandidateId = null;
        candidateIdForSkillAndWorkExperience = "";
        $('.form-control').removeClass('required_field');
        $('.error_message').html('');
        $('#RRMProfileEntryPointTableModel').modal("show");
        $("#btnbanprofile").hide();
        rrmProfileType = $(e).data("type");
        $("#modelText").text("New Candidate Entry");
        loadcandidatedetailsform();
        //to start with first tab
        $('.nav-tabs a[href="#rrm_CandidateContactDetails"]').tab("show");
        $("a.btnNext").show();
        $("a.btnSaveAndContinue").show();
        $(".saveFamilyBtn").hide();
        $(".btnPrevious").hide();

        if(rrmProfileType == "add"){

            if($("#rrm_candidateDisableExternalLoginDiv").hasClass("hidden")){

            }
            else{
                $("#rrm_candidateDisableExternalLoginDiv").addClass("hidden")
            }
        }
        else if(rrmProfileType == "edit"){

            if($("#rrm_candidateDisableExternalLoginDiv").hasClass("hidden")){
                $("#rrm_candidateDisableExternalLoginDiv").removeClass("hidden")
            }
        }
    }

    function resetForm(){
        loadcandidatedetailsform()

        $(".candidateAlreadyExist").addClass('hidden');
        $(".newCandidateForm").addClass('hidden');
        $("a.btnNext").addClass('hidden');
    }

    function initializeRRMProfileEntryPoint() {
        addRRMProfileEntryPointJs = AddRRMForProfileEntryPoint();
        editRRMProfileEntryPointJs = EditRRMForProfileEntryPoint();
    }
    var rrmProfileType;

    var rrmProfileType;
    $(document).on("click", ".RRMProfileEntryPointTableModel", function (e) {
        EditRRMProfile(e)
    })
    function EditRRMProfile(e) {
        candidateIdForSkillAndWorkExperience = null;
        loadcandidatedetailsform();
        $('#RRMProfileEntryPointTableModel').modal("show");
        //$("#modelText").text("Edit Candidate Entry");
        CandidateProfileId = $(e.currentTarget).data("profile");
        loadDisableExternalLogin(CandidateProfileId);
        editRRMProfileEntryPointJs.RRMEntryProfileForm(CandidateProfileId);
        rrmProfileType = $(e.currentTarget).data("type");
        getCandidateNotesHistory(CandidateProfileId);
        //to start with first tab
        $('.nav-tabs a[href="#rrm_CandidateContactDetails"]').tab("show");
        $("#btnbanprofile").hide();
        var isBannedProfile = !($("#rrmprofile-bannedprofilewarning").hasClass('hidden'))
        if(isBannedProfile)
            $("a.btnNext").hide();
        else
            $("a.btnNext").show();
        $("a.btnSaveAndContinue").show();
        $(".saveFamilyBtn").hide();
        $(".btnPrevious").hide();

        if(rrmProfileType == "add"){

        if($("#rrm_candidateDisableExternalLoginDiv").hasClass("hidden")){

        }
        else{
            $("#rrm_candidateDisableExternalLoginDiv").addClass("hidden")
        }
        }
        else if(rrmProfileType == "edit"){

        if($("#rrm_candidateDisableExternalLoginDiv").hasClass("hidden")){
            $("#rrm_candidateDisableExternalLoginDiv").removeClass("hidden")
        }
        }
    }
    $(document).on("click", "#candidateresumedownload", function (e) {
        getcandidateresume(e)
    })
    function getcandidateresume(e) {
        CandidateProfileId = $(e.currentTarget).data("profile");
        var filterData = JSON.stringify({
            "IsActive": true,
            "CandidateId": CandidateProfileId,
            "Token": Token
        });

        callGetListSync('GetCandidateResume', filterData, function (e) {
            saveByteArray(e[0].CandidateId, e[0].Content, e[0].Extension)
        })

        function saveByteArray(reportName, byte, extension) {
            var blob = new Blob([byte], { type: "application/"+extension+"" });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            var fileName = reportName;
            link.download = fileName;
            link.click();
        };
    }

    $(document).on("click", "#bindexistingcandidate", function (e) {
        showexistuser(e)
    });
    function showexistuser(e) {
        $("#bindexistingcandidate").text("");
       

        //to start with first tab
        $('.nav-tabs a[href="#rrm_CandidateContactDetails"]').tab("show");
        //$("#btnbanprofile").hide();
        $("a.btnNext").show();
        $("a.btnSaveAndContinue").show();
        $(".saveFamilyBtn").hide();
        $(".btnPrevious").hide();

        loadcandidatedetailsform();
        $('#RRMProfileEntryPointTableModel').modal("show");
        $("#modelText").text("Edit Candidate Entry");
        var CandidateProfileId = $("#bindexistingcandidate").val();
        editRRMProfileEntryPointJs.RRMEntryProfileForm(CandidateProfileId);
        rrmProfileType = "edit";

        //to start with first tab
        $('.nav-tabs a[href="#rrm_CandidateContactDetails"]').tab("show");
        //$("#btnbanprofile").hide();
        $("a.btnNext").show();
        $("a.btnSaveAndContinue").show();
        $(".saveFamilyBtn").hide();
        $(".btnPrevious").hide();
    }

    function banRRMProfile() {
        $("#rrm_candidatecommunication").dxSelectBox("instance").option('value', '');
        $("#txtareaComments").dxHtmlEditor("instance").option('value', '');
        swal({
            title: "Are you sure?",
            text: "You want to ban the candidate from G2 interview process? This operation is irreversible.\n Please select the reason and share the comments. ",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((res) => {
                $('#RPMBanModel').modal("show");
            })
       
    }
    function flagthiscandidate() {
        var banreason = $("#rrm_bancandidate").dxSelectBox("instance").option('value');
        var reasonComments = $("#bantxtareaComments").dxHtmlEditor("instance").option('value');
        if (banreason == "" || banreason == undefined || reasonComments == "" || reasonComments == undefined) {
            if (banreason == "" || banreason == undefined) {
                $('#rrm_bancandidate').addClass('input-error');
                $('#rrm_bancandidateerror').html("Please Select Reason");
            }
            else {
                $('#rrm_bancandidate').removeClass('input-error');
                $('#rrm_bancandidateerror').html("");
            }
            if (reasonComments == "" || reasonComments == undefined) {
                $('#rrm_bancomments').addClass('input-error');
                $('#rrm_bancommentsError').html("Please Enter Comments");
            }
            else {
                $('#rrm_bancomments').removeClass('input-error');
                $('#rrm_bancommentsError').html("");
            }
        }
        else {
            swal({
                title: "Are you sure?",
                text: "you want to ban the candidate from G2 interview process? This operation is irreversible.\n Please select the reason and share the comments.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((res) => {
                dataComments = {
                    "Method": "PostCandidateFlagged",
                    "Data": {
                        "Token": Token,
                        "CandidateId": CandidateProfileId,
                        "CandidateFlagMasterId": banreason,
                        "Comments": reasonComments,
                        "IsActive": 'True'
                    }
                }

                //var resultComments = PostDataCall(dataComments);
                PostDataCallAsync(dataComments, function (resultComments) {
                    if (resultComments.IsSuccess == true) {
                        swal({
                            title: "Success!",
                            text: "Candidate has been Flagged Successfully",
                            icon: "success",
                            button: "ok!",
                        });
                        getRRMProfileEntryTable();
                        $('#RPMBanModel').modal("hide");
                        $('#RRMProfileEntryPointTableModel').modal("hide")
                    }
                });
                })
            
        }
        
            
    }

    function getCandidateNotesHistory(CandidateProfileId){
        var filter_val = JSON.stringify({
            "CandidateId": CandidateProfileId,
            "IsActive": true
        });
        callGetListAsync('GetCandidateNotes', filter_val, function (getNotesHistory) {
            var candidatenotesnotes_history_html = ""; 
            getNotesHistory.forEach(function (item) {
                var plan_created_date = new Date(item.CreatedDate);
                var plan_date_month_year = plan_created_date.toLocaleDateString();
                var plan_time = plan_created_date.toLocaleTimeString();

                if(item.CreatedBy != localStorage.getItem("EmployeeID")){
                    candidatenotesnotes_history_html += "<div style='width:100%;display:flow-root'><div class='message dx-theme-background-color'>"
                    candidatenotesnotes_history_html += "<div class='name'>"+item.CreatedByName+"</div>"
                    candidatenotesnotes_history_html += "<div class='date'>"+ plan_date_month_year+" " + plan_time +"</div>"
                    candidatenotesnotes_history_html += "<div class='text'>"+item.Notes+"</div></div></div>";
                }
                else{
                    candidatenotesnotes_history_html += "<div style='width:100%;display:flow-root'><div class='message dx-theme-background-color' style='float:right;background-color:rgb(225, 247, 223) !important'>"
                    candidatenotesnotes_history_html += "<div class='date'>"+ plan_date_month_year+" " + plan_time +"</div>"
                    candidatenotesnotes_history_html += "<div class='text'>"+item.Notes+"</div></div></div>";
                }

            });
            $("#candidateNotesHistory").show();
            $("#candidateNotesHistory").html(candidatenotesnotes_history_html);
        })
    }
    
</script>