
<div id="TimesheetReportModalEdit" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <button class="expand modalExpanding"><i class="fas fa-expand" data-toggle="modal"></i></button>
                <h4 class="modal-title text-center">
                    Log Sheet for <span id="projectNameHeaderEdit"></span>
                </h4>
            </div>
            <div class="modal-body" style="border: black;">
                <div class="dx-field">
                    <div class="dx-field-label">From Date</div>
                    <div class="dx-field-value">
                      <div id="fromDateEdit"></div>
                    </div>
                  </div>
                  <div class="dx-field">
                    <div class="dx-field-label">To Date</div>
                    <div class="dx-field-value">
                      <div id="toDateEdit"></div>
                    </div>
                  </div>
                </br>
                <div id="exportButton" style="float: right;"></div>
               </br>
              </br>
                <div id="divSummarizedTimesheetEdit"></div>
              </br>
              <div id="divDetailedTimesheetEdit"></div>
                  </div>
               
            </br>
            </div>
        </div>
    </div>
    