*{
    box-sizing: border-box;
}
p{
    font-size:18px;
}
/*@page {
        size: A4;
        margin: 0;
    }*/
.pdf_main_div{
    width: 900px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.print-row{
    width: 100%;
}
.pdf_main_div img{
    max-width: 100%;
}
  .page-break {
      page-break-after: always;
      page-break-inside: avoid;
      clear:both;
    }
.Estimation_details td {
    border-width: 0;
    padding: 10px 0;
    font-weight: bold;
}
.Estimation_details td#docVersion {
    border-width: 0;
    text-align: right;
}
.pdf-head{
    background-color: #0E2233;
    padding: 15px;
    width: 100%;
}
.name-section{
    width: 100%;
    background-color: #eee;
    padding: 15px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-section h1{
    max-width: 80%;
    margin: auto;
    text-align: center;
}
.table_of_contents{
    padding:0px 100px;
}
.table_of_contents h2{
    text-align:center;
    font-size:36px;
}
ol{
    padding-left:15px;
}
ol li{
    font-size:18px;
    line-height:38px
}
.table_of_contents ol p{
    margin:0;
    line-height: 38px;
}
.bold{
    font-weight:bold;
}
.about-info{
    padding:50px 0;
    text-align: center;
    color: #fff;
    background-color: #0E2233;
    width: 100%;
}
.about-info *{
    color: #fff;
}
.about-info h4{
    margin: 0;
    margin-bottom:10px;
    
}
.about_pdf, .address{
    width: 400px;
    margin: auto;
    border-bottom: 2px solid #fff;
   padding: 20px;
    text-align: left
}
.about_us{
    background-color:#0E2233; 
    color:#fff;
    padding:20px 0px;
}
.about_us h2{
    text-align:center;
    margin-bottom:0;
    font-size:23px;
}
.about_us p{
    text-align:justify;
    padding:0px 20px;
    font-size:23px;
    margin:0;
}
.about_us_content{
    background-image:url(../images/about-us1.png);
    background-repeat:no-repeat;
}
.about_us_content p{
    font-size:18px;
    margin:0;
    color:#fff;
    padding:35px;
    text-align:justify;
    line-height:24px;
}
.aboutus_icons{
    background-image:url(../images/countbg_1.png);
    background-repeat:no-repeat;
    background-size:100% auto;
    height:190px;
    width:100%;
    color:#fff;
}
.aboutus_icons .col-md-4{
    text-align:center;
    width:24.3%;
    float:left;
    padding:49px 0px;
}
.aboutus_icons .number{
    font-size:24px;
    font-weight:700;
    font-size:36px;
}
.aboutus_icons h2, .aboutus_icons p{
    margin:0;
}
.aboutus_icons p{
    font-size:18px;
    line-height:24px;
    text-transform:capitalize;
}
.Revision_history h2, .estimation h2, .user_story h2,.feature_list h2, .assumptions_block h2, .other_notes_block h2, .suggestions_block h2, .outofscope_block h2, .other_notes_block h2,
.Revision_history li, .estimation li, .user_story li,.feature_list li, .assumptions_block li, .other_notes_block li, #suggestions_scroll, .outofscope_block li, .other_notes_block li, #technology_environment_scroll,#project_deliverable_scroll {
    color:#0E2233;
    /* font-size:36px; */
}
.Revision_history h4{
    margin-bottom:10px;
    padding:0px 50px;
    color:#f15f27;
    font-size:24px;
}
#pdf_UserStory p{
    font-size:18px;
    margin-top:0;
    padding:0px 50px;
}
#pdf_UserStory ol{
    padding: 0px 65px;
}

.estimation_content p{
    font-size:18px;
    margin-top:0;
    padding:0px 50px;
}
.out_of_scope, .assumptions, .other_notes, .Technology, .suggestions, .other_notes, p{
    font-size:18px;
    margin-top:0;
    padding:0px 50px;
}
.out_of_scope, .assumptions, .other_notes, .Technology, .suggestions, .other_notes, ul, ol{
    padding: 0px 50px;
}
.Revision_history p {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    padding: 0px 50px;
}

.table{
    width:100%;
    max-width:100%;
    border-collapse:collapse;
}
.textprimary{
    font-weight:bold;
}
.highlight{
    background-color:#DBFF33;
    color:black;
}
.primaryblock{
    background-color:#fff9336e;
    color:black;
    padding:20px;
    text-align:center;
    line-height:24px;
}
.textsecondary{
    text-decoration:underline;
    font-size:20px;
    font-weight:bold;
}
#EstimateTable th, #ProjectPhasesTable1 th, #DeliverableProjectPhasepdf th{
    border:1px solid #000;
    padding: 10px;
}
#EstimateTable td, #ProjectPhasesTable1 td, #DeliverableProjectPhasepdf td{
    text-align:left;
    border:1px solid #000;
    padding:10px 10px; 
}
.user_story h4, .feature_list h4{
    margin-bottom:10px;
    color:#f15f27;
    font-size:24px;
}
.user_story_img{
    padding:30px 0px;
}
.userstory_secondary_content ul li{
    font-weight:bold;
    font-size:18px;
    line-height:28px;
}
table{
    border-collapse:collapse;
    width:100%;
}
.feature_list ul li, .assumptions_block ul li, .other_notes_block ul li, .suggestions_block li{
    font-size:18px;
    line-height:28px;
}
li#pdf_Technology, #pdf_Environment, #pdf_BackEnd {
    list-style-type: none;
}
#pdf_EstimatePricing input{border:0;outline:none;}

.assumptions, .out_of_scope, .Technology, .other_notes, .suggestions {
    padding: 0px 20px;
}
.download_content{
    display: block;
    padding: 6px 12px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #C5122C;
    border-color: #C5122C;
}
.marker {
    background-color: Yellow;
}
.company_address {
    margin: auto;
    border-bottom: 1px solid #fff;
    padding: 15px;
}