<div class="row">
    <div class="col-md-12 defaulters-actionForm" style="text-align: left;">
        <form id="addAnActionFormDefaulters" method="post" role="form">
            
            <div class="col-md-12 hidden" id="defaulters-interview-edit">
                <label>RRM No</label>
                <div>
                    <select class="form-control defaulters-rmgmtList" id="defaulters-rrmNumber" name="interviewrrmNumber"
                        onchange="">

                    </select>
                </div>
                <div class="cand-select">
                    <label>Candidate Name</label>
                    <div>
                        <select class="form-control defaulters-rmgmtList" id="defaulters-interviewName"
                            name="defaulters-interviewName" onchange="">

                        </select>
                    </div>
                </div>

                <label>Date</label>
                <div>
                    <input type="text" class="form-control date-field" id="defaulters-interviewDate"
                        name="defaulters-interviewDate" readonly>
                </div>

                <div id="FromTo-Time2">
                    <label>From Time</label>
                    <div>
                        <input type="text" class="form-control time start" id="defaulters-interviewfromTime"
                            name="defaulters-interviewfromTime">
                    </div>

                    <label>To Time</label>
                    <div>
                        <input type="text" class="form-control time end" id="defaulters-interviewtoTime"
                            name="defaulters-interviewtoTime" value='now'>
                    </div>
                </div>
                <label>Interview Status</label>
                <div>
                    <select class="form-control defaulters-rmgmtList" id="defaulters-interviewStatus"
                        name="defaulters-interviewStatus" onchange="">

                    </select>
                </div>
                <label for="f012">Feedback File Upload</label>
                <div>
                    <input type="file" name="defaulters-interviewFeedback" id="defaulters-interviewFeedback"
                        placeholder="Please select file"><br>
                </div>
            </div>

            <div id="defaulters-detailsDiv-edit">
                <div class="col-md-12" id="defaulters-commentsDiv">
                    <label>Comments</label>
                    <div>
                        <textarea class="form-control defaulters-actionComment" cols="10" id="defaulters-Comments"
                            name="defaulters-Comments" placeholder="Comments" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-md-12 text-left" id="sucess-response" style="color:green">

                </div>

                <div class="col-md-12 text-left" id="error-response" style="color:red">

                </div>

                <div class="col-md-12 text-center" id="form-btn">
                    <br />
                    <input type="reset" class="btn btn-danger clear-form" value="Clear" />
                    <input type="button" class="btn btn-success" value="Add" id="btn-SubmitAction"
                        onclick="return AddPostDataDefaulters();" />

                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 defaulters-interviewSidebar hidden">
        <div class="modal-header" style="text-align: center;"><b>RRM Details</b></div>
        <p id="defaulters-interviewrrmdes"></p>
        <div class="modal-header" style="text-align: center;"><b>Candidate Details</b></div>
        <p style='text-align: left;' id="defaulters-interviewrrmDetails"></p>

        <p class="flie_dwn"><a class="fa fa-download hidden" id="defaulters-file_down" href="#" download> File
                download</a></p>
    </div>

</div>

