<!-- RFP Style -->
<link href="css/library/smart_wizard_theme_arrows.css" rel="stylesheet" />
<link href="css/library/jquery.minimalect.min.css" rel="stylesheet" />
<link href="css/library/jquery.mCustomScrollbar.css" rel="stylesheet" />


<link href="components/rfp/css/proposal.css" rel="stylesheet" />

<!-- RFP scripts -->
<!-- <div class="loader"></div> -->
<!--POP-UP RFP MODAL STARTS HERE -->
<div class="modal fade steps-model" id="assignPropsalModalDialog" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
               onclick=""><span aria-hidden="true">&times;</span></button>
               <button class="expand modalExpanding"><i class="fas fa-expand" data-toggle="modal"></i></button>
            <h2 class="modal-title" id="myModalLabel">Assign RFP</h2>
         </div>
         <div class="modal-body" data-simplebar>
         <input type="hidden" class="form-control" name="RRFno" disabled="disabled"
                        id="RRFno">
               <div class="form-group">
                     <label>BDE</label>
                     <input type="text" class="form-control" name="bde" disabled="disabled"
                        id="estimate_number">
                  </div>
                  <div class="form-group">
                        <label>Client</label>
                        <input type="text" class="form-control" name="client" disabled="disabled"
                           id="client">
                     </div>
                     <div class="form-group">
                           <label>Project Title</label>
                           <input type="text" class="form-control" name="project_title" disabled="disabled"
                              id="project_title">
                        </div>
                     <div class="form-group">
                           <label>Tech Stream</label>
                           <select class="form-control" id="tech_stream"
                                    name="tech_stream">
                                    <option value="">Select Stream</option>
                                    <option value="QA &amp; Documentation">QA &amp; Documentation</option>
                                    <option value="Dot Net">Dot Net</option>
                                    <option value="Open Stream">Open Stream</option>
                                    <option value="PB">PB</option>
                                    <option value="Adobe">Adobe</option>
                                    <option value="Mobile App">Mobile App</option>
                                    <option value="IMS">IMS</option>
                                 </select>
                                 <div id="tech_stream_error"></div>
                        </div>
                        <div class="form-group">
                              <label>Tech Incharge</label>
                              <select class="form-control" id="tech_incharge"
                                    name="tech_incharge" style="width:100%">
                                    <option value="">Select Incharge</option>
                                 </select>
                                 <div id="tech_incharge_error"></div>
                           </div>
                           <div class="form-group">
                                 <label>Technology</label>
                                 <select class="form-control" id="technology_choose_assign" multiple="multiple" style="width:100%">
                                 </select>
                                 <div id="technology_choose_assign_error"></div>
                              </div>
                              <div id="assign-error-msg"></div>
         </div>
         <div class="modal-footer">               
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-success" onclick="assignRFPSave()">Save</button>
         </div>
      </div>
   </div>
</div>

<script src='components/rfp/js/rfp.js'></script>