<script id = "Recruiter">
    var folderName = "rrmentrypointrecruiter";
    $(document).ready(function () {
        var pageId = "Recruiter";
        PageInitializeRecruiter(pageId)
    });

    function PageInitializeRecruiter(pageId) {
        var rrmEntryGrid = RRMEntryPointGridRecruiter(pageId);
        rrmEntryGrid.getRRMEntryTable();
    }
</script>

<link href="components/rrmentrypointrecruiter/css/rrmentrypoint.css" rel="stylesheet" type="text/css"/>
<link href="components/rrmentrypointrecruiter/css/rrmentrypointrecruiter.css" rel="stylesheet" type="text/css"/>

<script src='components/rrmentrypointrecruiter/js/rrmentrypointgridrecruiter.js'></script>
<script src='components/rrmentrypointrecruiter/js/addRRMEntryPointRecruiter.js'></script>
<script src='components/rrmentrypointrecruiter/js/editRRMEntryPointRecruiter.js'></script>
<script src='components/rrmentrypointrecruiter/js/rrmTrackerRecruiter.js'></script>

<div class="rrm-card-detail-NewInterviewCard card-detail">
    <span><i><img src="./image/dashboard/rrm.png" width="40px" height="40px" /></i></span>
    <span class="card-detail-title"><b>RRM Entry Point</b></span>
    <span class="pull-right" style="visibility:hidden">
        <button id="rrmEntryPointAddBtnRecruiter" class="btn btn-sm btn-primary" data-type="add">
            <i class="glyphicon glyphicon-plus" data-toggle="modal"></i>
        </button>
    </span>
    <hr />
   
    <div class="rrm-card-detail">
        <div class="row" style="display: flex;">
            <div class="cardDetailsRecruiter">
                <div class="item">
                    <div class="card item-card card-block">
                        <h5 class="mt-3 mb-3 text-center"><b>ASSIGNED RRM</b></h5>
                        <h2 id="cardCandidateRRMRecruiterAssigned" class="text-center">NA</h2> 
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div id="rrmGridReportRecruiter"></div>
            </div>
        </div>
    </div>
</div>

<div id="rrm_entrypointmodelRecruiter"></div>
<div id="rrm_entrypointProfileMappingRecruiter"></div>
<div id="candiadteDetailsRRMRecruiter"></div>

<div class="modal fade" id="rrm_recruiter_remarks" role="dialog">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
             onclick="" style="float : right"><span aria-hidden="true">&times;</span></button>
             <h2 class="modal-title"><span id="lblcandidateTrackerTitile">Remarks </span>&nbsp;</h2>
       </div>
  
        <div class="modal-body" id="rrm_recruiter_remarksBody" data-simplebar>
            <div id="remarksBodyRRMRecruiter">
            
            </div>
          
        <div class="modal-footer">
          <div>
            <button type="button" class="btn btn-primary" onclick="closeRRMRecruiter();">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<script type="text/javascript">
    $("#rrm_entrypointmodelRecruiter").load("components/rrmentrypointrecruiter/rrmEntryPointModalrecruiter.html");
    $("#rrm_entrypointProfileMappingRecruiter").load("components/rrmentrypointrecruiter/rrmProfileMapping.html");
    var interviewersData = [];
    var rrmData = [];
    $(document).ready(function () {
    initializeRRMEntryPointRecruiter();

    var localget = localStorage.getItem("UserCheckRes");
    var jsonData = JSON.parse(localget);
    Token =jsonData.Data[0].Token 
    getInterviewersList();
    getRRMList();
    getCountAssignedRecruiter();
})

    var Token;
    var addRRMEntryPointJsRecruiter;
    var editRRMEntryPointJsRecruiter;
    function initializeRRMEntryPointRecruiter() {
    addRRMEntryPointJsRecruiter = AddRRMEntryPointRecruiter();
    editRRMEntryPointJsRecruiter = EditRRMEntryPointOwnerRecruiter();
}

function getCountAssignedRecruiter(){

    var Data = JSON.stringify({
            "Token":Token,
            "IsActive": true
        });
        callGetListAsync('GetRRMCountForAssignedRecruiters', filter_val, function (result) {
            
            if (result.length > 0 && result!= undefined) {
               
               var val = result[0].RRMAssigned;
               $("#cardCandidateRRMRecruiterAssigned").html(val);
               
            }
        })
}

$(document).on("click",".editRRMEntryPointRecruiter", function(e){
    openEditRRMEntryPointRecruiter(e)
})
    var addRRMType;
    var rrmId;
    var ResourceRequirementTypeRecruiter;
    function openEditRRMEntryPointRecruiter(e) {
    initializeModalRecruiter();
        //$('#RRMEntryPointModelRecruiter').appendTo("body").modal("show");
        $('#RRMEntryPointModelRecruiter').modal("show");
        addRRMType  = $(e.currentTarget).data("type"); 
        rrmId = $(e.currentTarget).data("rrmid");
        ResourceRequirementTypeRecruiter = $(e.currentTarget).data("rrmtype");
        $("#RecruiterrrmType").attr('class', '');
        if (ResourceRequirementTypeRecruiter == "G") {
            $("#lblLeadNamerecruiter").text("Requirement lead");
            $("#RecruiterrrmType").html("RRM").addClass("label label-success m-l-xs");
        }
        else if (ResourceRequirementTypeRecruiter == "P") {
            $("#lblLeadNamerecruiter").text("RFP Owner");
            $("#RecruiterrrmType").html("RFP").addClass("label label-info m-l-xs");
        }
        else if (ResourceRequirementTypeRecruiter == "R") {
            $("#lblLeadNamerecruiter").text("Backup Lead");
            $("#RecruiterrrmType").html("Resignation").addClass("label label-warning m-l-xs");
        }

        initializeEditRRMRecruiter(rrmId);
        editRRMEntryPointJsRecruiter.RRMEntryFromRRM(rrmId);
        getMappedInterviewerForRRMRecruiter(rrmId);
}

$(document).on("click","#rrmEntryPointAddBtnRecruiter", function(e){
    rrmAddBtnClickedRecruiter(e)
})

    function rrmAddBtnClickedRecruiter(e) {
        
        addRRMType = "add";
        initializeModalAddRecruiter();
        $('#RRMEntryPointModelRecruiter').appendTo("body").modal("show");
        $("#RecruiterrrmType").attr('class', '');
        $("#OwnerrrmHoldStatusRecruiter").attr('class', '');
        $("#rrmmodelpagetitlerecruiter").text("Add RRM");
        var rrmType = $(e.currentTarget).data("type");
        initializeAddRRMRecruiter(rrmType);
    }


    $(document).on("click", ".rrmcloneprofile", function (e){
        $('.nav-tabs a[href="#rrm_RequirementDetailsRecruiterProfileMapping"]').tab("show");
        rrmProfileMapping(e);
    });

    function rrmProfileMapping(e) {
        var rrmIdForProfileMapping = $(e.currentTarget).data("rrmid");       
        $("#RRMProfileMappingRecruiter").appendTo("body").modal("show");
        getCandidatesForProfileMapping(rrmIdForProfileMapping);        
        getMappedCandidatesForProfileMapping(rrmIdForProfileMapping);
        getRRMSkillsForProfileMapping(rrmIdForProfileMapping);
        getRRMDetailsForProfileMapping(rrmIdForProfileMapping);        
    }

    function getInterviewersList(){
        interviewersData = [];
        var interviewersListfilterData = JSON.stringify({
            "IsActive": true
        });
        var interviewersList = callgetlist('GetEmployeeList', interviewersListfilterData);        
        if (interviewersList.length > 0) {
            interviewersList.forEach(function (i, index) {
                interviewersData.push({
                    'EmployeeId': i['EmployeeId'],
                    'EmployeeName': i['Name']
                });
            });
        }
    }

    function getRRMList(){
        rrmData = [];
        var rrmListfilterData = JSON.stringify({
            "IsActive": true
        });
        var rrmListList = callgetlist('GetRRM', rrmListfilterData);        
        if (rrmListList.length > 0) {
            rrmListList.forEach(function (i, index) {
                rrmData.push({
                    'RRMId': i['RRMId'],
                    'RRMName':i['RRMNo']+" - "+i['RequirementName']
                });
            });
        }
    }

    function getMappedInterviewerForRRMRecruiter(RRMId){
        var filter_val = JSON.stringify({
            "RRMId": RRMId,
        });
        callGetListAsync('GetMappedInterviewersForRRM', filter_val, function (result) {
            var mappedId = [];
            if (result.length > 0) {
                result.forEach(function (i, index) {
                    mappedId.push(i['EmployeeId']);
                });              
                $("#sdtag_rrmrecruiter_intervierwers").dxTagBox('instance').option('value',mappedId);
            }
        })
    }

</script>

<script>
    $("#candiadteDetailsRRMRecruiter").load("components/rrmentrypointrecruiter/candidatedetailsrrmrecruiter.html");
    
    $(document).on("click", ".candidateDetailsRRMRecruiter", function (e) {
        var candidateId = $(e.currentTarget).data("candidateid");           
        getCandidateDetailsForRRMRecruiter(candidateId);
    });
  
  </script>