<div class="card-detail">
    <span><i><img src="./image/dashboard/manualswipe.png" width="40px" height="40px" /></i></span>
    <span class="card-detail-title"><b>Manual</b></span>
    <span>(Dummy)</span>
    <span>&nbsp;</span>
    <hr />
    <div class="table-responsive">
        <table class="table table-striped" id="tblManual">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Reporting</td>
                    <td>Punch Date & Time</td>
                    <td>Status</td>
                    <td>Details</td>
                    <td>Approve / Reject</td>
                </tr>
            </thead>
        </table>
    </div>
</div>