
<div class="row">
    <div class="col-md-12 defaulters-actionForm" style="text-align: left;">
        <form id="addAnActionFormDefaulters" method="post" role="form">
            
            <div class="col-md-12" id="defaulters-projects-edit">
                <label>Select Project</label>
                <div>
                    <select class="defaulters-projectsList form-control" id="defaulters-Project-edit" name="defaulters-Project-edit"
                        onchange="select_Default_project_OnChange(this)">
                        <option value="">Select Project</option>
                    </select>
                </div>
            </div>

            <div class="col-md-12" id="defaulters-tasks-edit">
                <label>Task</label>
                <div>
                    <select class="form-control defaulters-taskList" id="defaulters-Task-edit" name="Task"
                        onchange="task_DefaultersOnChange(this)">
                        <option value="">Select Task</option>
                    </select>
                </div>
            </div>
        
            <div id="defaulters-detailsDiv-edit">
                <div id="defaulters-billableDiv" class="">
                    <div class="col-md-12" id="ActualHoursDiv">
                        <label>Actual Hours</label>
                        <div>
                            <input class="form-control" id="defaulters-ActualHours" name="defaulters-ActualHours"
                                placeholder="No. Of Hours" type="number"
                                oninput="validity.valid||(value='');" value="0" />
                        </div>
                    </div>
                    <div class="col-md-12" id="BillableHoursDiv">
                        <label>Billable hours</label>
                        <div>
                            <input class="form-control" id="defaulters-BillableHours" name="defaulters-BillableHours"
                                placeholder="No. Of Hours" type="number"
                                oninput="validity.valid||(value='');" value="0" />
                        </div>
                    </div>
                    <div class="col-md-12 text-left" id="defaulters-hours-response" style="color:red">

                    </div>
                </div>

                <div class="col-md-12" id="defaulters-commentsDiv">
                    <label>Comments</label>
                    <div>
                        <textarea class="form-control defaulters-actionComment" cols="10" id="defaulters-Comments"
                            name="defaulters-Comments" placeholder="Comments" rows="3"></textarea>
                    </div>
                </div>

                <div class="col-md-12 text-left" id="sucess-response" style="color:green">

                </div>

                <div class="col-md-12 text-left" id="error-response" style="color:red">

                </div>

                <div class="col-md-12 text-center" id="form-btn">
                    <br />
                    <input type="reset" class="btn btn-danger clear-form" value="Clear" />
                    <input type="button" class="btn btn-success" value="Add" id="btn-SubmitAction"
                        onclick="return AddPostDataDefaulters();" />

                </div>
            </div>
        </form>
    </div>
    <div class="col-md-8 defaulters-actionChartSidebar hidden">
        <div class="col-md-6">
            <p><strong>Project Start:</strong> <span id="defaulters-project_start_date"></span></p>
        </div>
        <div class="col-md-6">
            <p><strong>Project End:</strong> <span id="defaulters-project_end_date"></span></p>
        </div>
        <div style="width: 100%;">
            <h3>Project Progress</h3>
            <canvas id="defaulters-chart1" width="400" height="110">
                <p>Data not available</p>
            </canvas>
        </div>
        <div style="width: 100%;">
            <h3>My Contribution</h3>
            <canvas id="defaulters-chart2" width="400" height="110">
                <p>Data not available</p>
            </canvas>
        </div>
        <h3>Task Status</h3>
        <canvas id="defaulters-chart3" width="400">
            <p>Data not available</p>
        </canvas>
    </div>
</div>
<script type="text/javascript">

function include(filename, onload) {
    var head = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');
    script.src = filename;
    script.type = 'text/javascript';
    head.appendChild(script);
}

include('components/defaultersentry/defaultersEntry-projects/js/project.js');

</script>





