    html,
    body {
      height: 100%;
    }

    .outer-wrapper {
      display: table;
      width: 100%;
      height: 80%;
    }

    .jumbotron1 {
      background: #fff;
    }

    .inner-wrapper {
      display: table-cell;
      vertical-align: middle;
      padding: 15px;
    }

    .login-btn {
      position: fixed;
      top: 15px;
      right: 15px;
    }

    /*Style for clone form */

    .cloneform {
      padding: 10px;
    }

    .clonedInput {
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .clonedInput div {
      margin: 5px;
    }

    .remove1 {
      visibility: visible;
    }

    .js-title-step .label.label-success {
      position: relative;
      top: -2px;
    }

    .tp-margin {
      margin-top: 25px;
    }

    header img {
      padding-top: 2%;
      padding-left: 2%;
    }

    .checkbox span {
      position: absolute;
      top: 3
    }

    .input-error {
      border-color: #f35b3f;
    }

    .field-icon {
      float: right;
      margin-left: -25px;
      margin-top: -25px;
      position: relative;
      z-index: 2;
      margin-right: 5px;

    }